.studyPage {
  background-color: #f5f5f5;
  min-height: 100%;
  padding: 12px 10px;

  .funWrapper {
    .headBox {
      height: 78px;
      background: #ffffff;
      border-radius: 8px;
      margin: 12px 0px 10px 0px;
      display: flex;
      align-items: center;
      font-size: 12px;
      justify-content: space-around;
      .Leave {
        color: #333333;
        display: flex;
        flex-direction: column;
        align-items: center;
        .LeaveP1 {
          width: 29.28px;
          height: 29.28px;
          background: rgba(255,136,99, 0.3);
          margin-bottom: 0px;
          border-radius: 10px;
          transform: rotate(30deg);
          .LeaveP2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 29.28px;
            height: 29.28px;

            background: linear-gradient(136.81deg, #FF8863 10.81%, #FF1C1C 90.05%);
            border-radius: 10px;
            transform: rotate(330deg);
            margin-bottom: 0px;
            img {
              display: block;
              width: 15px;
              height: 16px;
            }
          }

        }
        .LeaveP1s {
          width: 29.28px;
          height: 29.28px;
          background: rgba(47, 163, 255, 0.3);
          margin-bottom: 0px;
          border-radius: 10px;
          transform: rotate(30deg);
        .LeaveP2s {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 29.28px;
          height: 29.28px;
          background: linear-gradient(132.61deg, #2fa3ff 9.93%, #2f82ff 90.07%);
          border-radius: 10px;
          transform: rotate(330deg);
          margin-bottom: 0px;
          img {
            display: block;
            width: 15px;
            height: 16px;
          }
        }
      }
        .LeaveP3 {
          width: 48px;
          text-align: center;
          margin-top: 8px;
          margin-bottom: 0px;
        }
      }
      .stuEvaluat {
        color: #333333;
        display: flex;
        flex-direction: column;
        align-items: center;
        .stuEvaluatP1 {
          width: 29.28px;
          height: 29.28px;
          margin-bottom: 0px;
          background: rgba(255, 199, 0, 0.3);
          border-radius: 10px;
          transform: rotate(30deg);
          .stuEvaluatP2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 29.28px;
            height: 29.28px;
            background: linear-gradient(133.81deg, #ffc700 9.97%, #ff8a00 90%);
            border-radius: 10px;
            transform: rotate(330deg);
            margin-bottom: 0px;
            img {
              display: block;
              width: 15px;
              height: 16px;
            }
          }
        }
        .stuEvaluatP3 {
          margin-top: 8px;
          margin-bottom: 0px;
        }
      }
      .courseBack {
        color: #333333;
        display: flex;
        flex-direction: column;
        align-items: center;
        .courseBackP1 {
          width: 29.28px;
          height: 29.28px;
          background: rgba(125, 206, 129, 0.3);
          margin-bottom: 0px;
          border-radius: 10px;
          transform: rotate(30deg);
          .courseBackP2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 29.28px;
            height: 29.28px;
            border-radius: 10px;
            transform: rotate(330deg);
            background: linear-gradient(136.81deg, #4be651 10.81%, #00bd08 90.05%);
            margin-bottom: 0px;
            img {
              display: block;
              width: 15px;
              height: 16px;
            }
          }
        }
        .courseBackP3 {
          margin-top: 8px;
          margin-bottom: 0px;
        }
      }
    }
    .titleBar {
      font-size: @font-size-lg;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
}
