.studyPage {
  background-color: #f5f5f5;
  min-height: 100%;
  padding: 12px 10px;

  .funWrapper {
    .headBox {
      height: 78px;
      background: #ffffff;
      border-radius: 8px;
      margin: 12px 0px 10px 0px;
      display: flex;
      align-items: center;
      font-size: 12px;
      .stuEvaluat {
        color: #333333;
        margin-left: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .stuEvaluatP1 {
          width: 29.28px;
          height: 29.28px;
          background: rgba(255, 199, 0, 0.3);
          margin-bottom: 0px;
          border-radius: 10px;
          transform: rotate(30deg);
          .stuEvaluatP2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 29.28px;
            height: 29.28px;
            background: linear-gradient(133.81deg, #ffc700 9.97%, #ff8a00 90%);
            border-radius: 10px;
            transform: rotate(330deg);
            margin-bottom: 0px;
            img {
              display: block;
              width: 15px;
              height: 16px;
            }
          }
        }
        .stuEvaluatP3 {
          margin-top: 8px;
          margin-bottom: 0px;
        }
      }
      .courseBack {
        color: #333333;
        margin-left: 21%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .courseBackP1 {
          width: 29.28px;
          height: 29.28px;
          background: rgba(47, 163, 255, 0.3);
          margin-bottom: 0px;
          border-radius: 10px;
          transform: rotate(30deg);
          .courseBackP2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 29.28px;
            height: 29.28px;
            background: linear-gradient(132.61deg, #2fa3ff 9.93%, #2f82ff 90.07%);
            border-radius: 10px;
            transform: rotate(330deg);
            margin-bottom: 0px;
            img {
              display: block;
              width: 15px;
              height: 16px;
            }
          }
        }
        .courseBackP3 {
          margin-top: 8px;
          margin-bottom: 0px;
        }
      }
    }
    .titleBar {
      font-size: @font-size-lg;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
}
.leaveSchool {
  :global {
    .ant-modal-header{
      padding: 16px;
      text-align: center !important;
    }
    .ant-modal-body {
      // width: 100% !important;
      padding: 16px;
      margin: 10px;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      > div {
        height: 100px;
        overflow: auto;
        p {
          display: flex;
          justify-content: space-between;
          span:nth-child(1) {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          span:nth-child(2) {
            width: 90px;
          }
        }
      }
    }
    .ant-modal-content{
      min-width: auto !important;
    }
    .ant-modal-footer{
      margin-top: 76px;
      text-align: center !important;
      .ant-btn{
        width: 125.5px !important;
        border-radius: 22px !important;
      }
    }
  }
}
.leaveSchoolBtn{
  margin-left: 25px;
}
