.hz {
  position: relative;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #ededed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);

  .tp {
    position: absolute;
    left: 0;
    height: 44px;
    padding: 0 10px 0 30px;
    transform: rotate(180deg);

    span[class*='anticon'] {
      color: #333;
    }
  }

  .wz {
    display: inline-block;
    width: 100%;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  .td {
    position: absolute;
    right: 0;
    height: 44px;
    padding: 0 10px 0 30px;
    color: #44ca7a;
  }

  &.th {
    background: #3874c5;
    box-shadow: 0 1px 2px #3969c2;

    .tp,
    span[class*='anticon'],
    .wz {
      color: #fff;
    }
  }
}
