.hz {
  width: 100%;
  height: 44px;
  background:rgba(204, 204, 204, 1);
  border-bottom: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  .tp {
    width: 50px;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 44px;

    >a {
      color: black;
    }

    .ch {
      width: 100%;
      height: 100%;
    }
  }

  .wz {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    opacity: 0.9;
  }
}

.th {
  width: 100%;
  height: 44px;
  background:rgba(0,102,255);
  border-bottom: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  .tp {
    width: 50px;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 44px;
    color: #fff;

    >a {
      color: #fff;
    }

    .ch {
      width: 100%;
      height: 100%;
    }
  }

  .wz {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    opacity: 0.9;
  }
}
