.CourseBox {

  .header {
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #333333;
    }
  }

  .kb {
    padding: 0 10px;
  }
}
