.selectedPage {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  background-color: #f5f5f5;

  .selectedCard {
    .selectedCon {
      background-color: #fff;

      .searchVal {
        display: flex;
        justify-content: center;
        box-shadow: 1px 1px 5px #ddd;

        > span {
          position: relative;
          flex-basis: 33%;
          flex-shrink: 0;
          align-items: center;
          padding: 0 16px 0 4px;
          overflow: hidden;
          color: #888;
          line-height: 40px;
          white-space: nowrap;
          text-align: center;
          text-overflow: ellipsis;

          &::after {
            position: absolute;
            top: 16px;
            right: 8px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-top: 1px solid #656565;
            border-right: 1px solid #656565;

            /* 旋转角度 */
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            content: '';
          }

          &[class*='activeCls'] {
            color: #f37000;

            &::after {
              top: 14px;
              border-color: #f37000;
            }
          }
        }
      }

      div[class*='searchWrapper'] {
        position: fixed;
        z-index: 1;
        display: none;
        width: 100vw;
        height: calc(100vh - 85px);
        margin-top: 2px;
        background-color: rgba(0, 0, 0, 0.4);

        div[class*='gradeWrapper'] {
          display: none;
          height: 140px;
          padding: 8px 16px;
          background-color: #fff;

          ul {
            display: flex;
            flex-direction: column;
            max-height: 120px;
            margin: 0;
            padding: 0;
            overflow-y: auto;

            &::-webkit-scrollbar {
              width: 0 !important;
            }

            li {
              color: #666;
              font-size: 12px;
              line-height: 40px;
              text-indent: 16px;
              border-bottom: 1px solid #f0f0f0;

              &:nth-last-child(1) {
                border-bottom: none;
              }

              &.active {
                position: relative;
                color: #f37000;

                &::after {
                  position: absolute;
                  top: 16px;
                  right: 8px;
                  display: inline-block;
                  width: 16px;
                  height: 8px;
                  border-top: 1px solid #f37000;
                  border-right: 1px solid #f37000;

                  /* 旋转角度 */
                  -webkit-transform: rotate(135deg);
                  transform: rotate(135deg);
                  content: '';
                }
              }
            }
          }
        }

        div[class*='typeWrapper'] {
          display: none;
          height: 140px;
          padding: 0 8px 8px;
          background-color: #fff;

          ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            padding: 4px;

            li {
              display: inline-block;
              margin: 6px 4px;
              padding: 6px 12px;
              color: #666;
              font-size: 12px;
              background: #efefef;
              border-radius: 5px;

              &.active {
                color: #f37000;
                background-color: rgba(244, 166, 98, 0.3);
              }
            }
          }
        }

        div[class*='dateWrapper'] {
          display: none;
          height: 72px;
          padding: 16px 12px;
          background-color: #fff;

          div[class*='ant-picker-focused'] {
            border: 1px solid #d2d2d2 !important;
          }

          button {
            margin-left: 16px;
            font-size: 12px;
            box-shadow: none;
          }
        }
      }
    }
  }

  .listWrapper {
    height: calc(100vh - 85px);
    margin-top: 2px;
    padding: 16px;
    overflow: auto;

    .noData {
      padding: 10px;
      color: #999;
      font-size: 12px;
      text-align: center;
      background-color: #fff;
      border-radius: 8px;

      img {
        display: block;
        width: 180px;
        margin: 0 auto;
      }
    }

    :global {
      .ant-list {
        padding: 0 !important;
        background-color: transparent !important;

        .ant-list-item {
          margin-bottom: 16px;
          padding: 8px;
          background-color: #fff;
          border-bottom: none;
          border-radius: 4px;
        }
      }
    }
  }

  .applyWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    > div {
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 400px;
      padding: 5px 14px 14px;
      background-color: #fff;

      .title {
        margin: 8px 0;
        color: #333;
        font-weight: 600;
        font-size: 16px;
      }

      .content {
        .items {
          align-items: center;
          line-height: 35px;

          > span {
            display: block;
            color: #333;
            font-size: 14px;
          }

          span[class='ant-tag'] {
            height: 26px;
            padding: 0 14px;
            color: #666;
            font-size: 12px;
            line-height: 24px;
            background-color: #f5f5f5;
            border-radius: 12px;

            span[role='img'] {
              margin-left: 8px;
            }
          }

          h3 {
            font-weight: bold;
            font-size: 16px;

            .tipText {
              float: right;
              font-weight: normal;
            }
          }

          label[class*='ant-radio-button'] {
            margin-right: 14px;
            padding: 0 30px;
            color: #333;
            background: #f5f5f5;
            border: none;
            border-radius: 16px;

            &:not(:first-child)::before {
              display: none !important;
            }

            &[class*='checked'] {
              color: #3874c5;
              border: 1px solid #3874c5;
            }

            &[class*='disabled'] {
              color: #999;
            }
          }
        }

        .tipText {
          color: #888;
          font-size: 12px;
        }
      }
    }

    .submit {
      position: fixed;
      bottom: 14px;
      display: block;
      width: calc(100% - 28px);
      height: 38px;
      color: #fff;
      background: #3874c5;
      border: none;
      border-radius: 19px;

      &[disabled] {
        color: #bbb;
        background: #f5f5f5;
        border-color: #d2d2d2;
      }

      span {
        font-size: 16px;
      }
    }
  }

  .apply {
    position: fixed;
    right: 20px;
    bottom: 15px;
    width: 80px;
    color: #3e88f8;
    text-align: center;

    > div {
      width: 48px;
      height: 48px;
      margin: auto;
      margin-bottom: 10px;
      color: #fff;
      background-color: #3e88f8;
      border-radius: 50%;
      box-shadow: 0 0 30px rgba(0, 102, 255, 0.4);

      img {
        width: 28px;
        margin-top: 10px;
      }
    }
  }
}

.tipModal {
  width: 90vw !important;
  overflow: hidden;

  :global {
    .ant-modal-content {
      border-radius: 12px;

      .ant-modal-body {
        padding: 0 0 24px;

        .anticon-exclamation-circle {
          display: none;
        }

        .ant-modal-confirm-title {
          line-height: 45px;
          text-align: center;
          border-bottom: 1px solid #dadada;
        }

        .ant-modal-confirm-content {
          padding: 12px;
          color: #888;
          text-align: left;
        }

        .ant-modal-confirm-btns {
          display: flex;
          justify-content: space-around;
          float: inherit;
          padding: 0 24px;

          .ant-btn {
            flex: 1;

            & + .ant-btn {
              margin-left: 24px;
            }
          }
        }
      }
    }
  }
}
