.ghostButton {
  :global {
    .ant-btn-primary {
      span {
        color: #4884ff !important;
      }
    }
  }
}
.modelFooter {
  width: 100%;
  :global(.ant-btn) {
    width: auto !important;
  }

  display: flex;
  justify-content: space-between;
  .modelTips {
    color: #4884ff;
    font-size: 14px;
    span {
      margin-right: 8px;
    }
  }
}

.noModalFooter {
  :global {
    .ant-modal-footer {
      display: none;
    }
  }
}

:global{
  .ant-popover{
    min-width: 200px;
  }
}

.Popup{
  :global{
    .ant-popover-content{
      .ant-popover-buttons{
        .ant-btn-primary{
          display: none;
        }
      }
    }
  }
}
