.ListComponentBigBox {
  padding: 10px;
  .ListHeader {
    display: flex;
    justify-content: space-between;
    height: 22px;
    margin-bottom: 10px;
    line-height: 22px;
    .ListHeaderTitle {
      font-weight: 600;
      font-size: 16px;
    }
    .ListHeaderMore {
      font-size: 11px;
      a {
        color: #999999;
        cursor: pointer;
      }
      a:hover {
        color: @primary-color;
      }
    }
  }
  .Listvertical {
    .ListverticalTitleRow {
      display: flex;
      justify-content: space-between;
      height: 21px;
      margin-bottom: 7px;
      line-height: 19.6px;
      .Title {
        width: calc(~'100% - 79px');
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
          color: #333333;
          font-weight: 600;
          font-size: 14px;
        }
      }
      .TitleRight {
        span {
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

    .descRow {
      display: flex;
      justify-content: space-between;
      height: 18px;
      font-size: 12px;
      line-height: 16.8px;
      .descleft {
        width: calc(~'100% - 79px');
        overflow: hidden;
        color: #999999;
        white-space: nowrap;
        text-overflow: ellipsis;
        .descleftInspan {
          padding: 0 8px;
        }
      }
      .descright {
        color: #666666;
      }
    }
    .descRow:first-child {
      margin-bottom: 6px;
    }
    :global {
      .ant-list-item-meta {
        margin-bottom: 12px;
      }
      .ant-list-item-meta-avatar {
        margin-right: 10px;
      }
    }
  }
}
