.StudentInformation {
    .ant-modal {
      width: 500px !important;
      .ant-modal-content{
          border-radius: 8px;
          .ant-modal-header{
              border-radius: 8px;
          }
          .ant-modal-body {
            padding: 0;
              .ant-card{
                  border-radius: 8px;
                  .ant-spin-container {
                      >ul {
                        display: flex;
                        justify-content: center;
                      margin: 24px 0;
                        .ant-pagination-total-text {
                          display: none;
                        }
              
                        .ant-pagination-options {
                          display: none;
                        }
              
                        li{
                          border: 1px solid #E4E4E4;
                          margin: 0 5px 0 5px;
                          a,span{
                              display: block !important;
                              color:#999999;
                          }
                        }
                        .ant-pagination-item-active{
                          border: 1px solid rgba(81, 208, 129, 1);
                          span{
                              color:rgba(81, 208, 129, 1);
                          }
                        }
                      }
                    }
              }
            
          }
      }
      .ant-modal-footer {
        display: none;
      }
    }
  
  }