.Forms{
  :global{
    .ant-picker-range{
      width: 100%;
    }
    .ant-row:nth-last-child(1){
      margin-left: 10px;
    }
  }
}
.ToIntroduce{
  :global{
    .ant-pro-table-list-toolbar{
      .ant-space{
        .ant-space-item:nth-child(2){
          display: none;
        }
      }
    }
  }
}
.modal{
  :global{
    .ant-modal-footer{
      display: none;
    }
  }
}
.modals{
  :global{
    .ant-modal-footer{
      display: block;
    }
  }
}
