.Forms {
  :global {
    .ant-picker-range {
      width: 100%;
    }
    .ant-row:nth-child(2) {
      label::before {
        display: inline-block;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
      }
    }
    .ant-select-disabled {
      .ant-select-selector {
        color: #333 !important;
        background: #fff !important;
        border: none !important;
      }
      .ant-select-arrow {
        display: none;
      }
    }
    .ant-input-disabled {
      color: #333;
      background: #fff;
      border: none;
    }
    .ant-picker-disabled {
      background: #fff;
      border: none;
      .ant-picker-input {
        width: 72px;
        input {
          color: #333 !important;
        }
      }
      .ant-picker-suffix {
        display: none;
      }
    }
  }
}
.modal {
  .Forms {
    max-height: 65vh;
    overflow: auto;
  }
  :global {
    .ant-modal-footer {
      display: none;
    }
  }
  .Forms::-webkit-scrollbar {
    display: none;
  }
}
.modals {
  .Forms {
    max-height: 65vh;
    overflow: auto;
  }
  .Forms::-webkit-scrollbar {
    display: none;
  }
  :global {
    .ant-modal-body {
      padding-bottom: 0;
    }
    .ant-modal-footer {
      display: block;
    }
  }
}
.searchSpecial {
  div[class*='searchLayout'] {
    margin-bottom: 0 !important;
  }
}
