.Forms{
  :global{
    .ant-picker-range{
      width: 100%;
    }
    .ant-row:nth-child(2){
      label::before {
        display: inline-block;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
      }
    }
  }
}
.ToIntroduce{
  :global{
    .ant-pro-table-list-toolbar{
      .ant-space{
        .ant-space-item:nth-child(2){
          display: none;
        }
      }
    }
  }
}
.modal{
  :global{
    .ant-modal-footer{
      display: none;
    }
  }
}
.modals{
  :global{
    .ant-modal-body{
      padding-bottom: 0;
    }
    .ant-modal-footer{
      display: block;
    }
  }
}
