.EmptyPage {
  position: relative;
  top: -30px;
  height: calc(100vh - 170px);
  margin: 0 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &::-webkit-scrollbar {
    width: 0 !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  .header {
    background-color: rgba(255, 255, 255);

    .title {
      height: 22px;
      padding-top: 20px;
      color: #333;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }

    .time {
      height: 17px;
      margin-top: 30px;
      margin-bottom: 14px;
      color: #999;
      font-size: 12px;
      line-height: 17px;
      text-align: center;
    }
  }

  .line {
    height: 0.5px;
    background: rgba(0, 0, 0, 0.1);
  }

  .opacity {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 60%;
    margin: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.6;
  }

  .imges {
    background-image {
      opacity: 0.5;
    }
  }

  textarea {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: calc(~'100vh - 270px');
    padding: 20px 14px;
    overflow: auto;
    color: #333;
    font-size: 14px;
    line-height: 27px;
    text-indent: 1em;
    background: inherit;
    border: none;
    opacity: 1 !important;
    resize: none;
  }
}
