@import '../../../theme.less';

.CourseDetails {
  line-height: 28px;
  :global {
    .anticon svg {
      height: 100%;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }
  }

  button {
    outline: none;
  }

  .wrap {
    padding: 10px 10px 0 10px;

    p {
      margin-bottom: 6px;
    }

    img {
      width: 100%;
      height: 226px;
      margin-bottom: 18px;
    }

    ul {
      padding: 0;
      color: #515151;
      font-size: 14px;
    }

    .title {
      color: #515151;
      font-weight: 600;
      font-size: 16px;
    }

    .content {
      color: #515151;
      font-size: 14px;
    }

    .classInformation {
      li {
        margin-bottom: 4px;
        table {
          td,
          th {
            padding: 2px 5px;
            font-size: 12px;
            text-align: center;
            border: 1px solid #dadada;
          }
        }
      }
      .bzrname * {
        height: 16px !important;
        line-height: 16px !important;
      }
    }
  }
  .Timetable {
    margin: 18px 10px 0 10px;
    padding-bottom: 50px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: @text-color;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      .legend {
        margin-left: 5px;
        :global {
          .ant-badge-status-dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
          }
        }
        &.legend1 {
          span[class='ant-badge-status-dot'] {
            border: 0.5px solid rgb(160, 159, 159);
          }
        }
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      width: 102%;

      .card {
        width: 18%;
        height: 48px;
        margin-right: 2%;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 12px;
        text-align: center;
        background: rgba(69, 201, 119, 0.1);
        border-radius: 8px;

        p {
          margin: 0;
          padding: 0;
          line-height: 18px;
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 54px;
    padding: 0 14px 0 14px;
    line-height: 54px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .btn {
      width: 100%;
      height: 38px;
      margin-top: 8px;
      color: #fff;
      font-size: 18px;
      line-height: 38px;
      background-color: #15b628;
      border: none;
      border-radius: 19px;
    }
  }

  .payment {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    > div {
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 380px;
      padding: 14px;
      background-color: #fff;

      .title {
        margin-top: 8px;
        color: #333;
        font-weight: 600;
        font-size: 16px;
      }

      .price {
        span:nth-of-type(1) {
          color: #f60;
          font-size: 18px;
        }

        span:nth-of-type(2) {
          color: #f60;
          font-size: 14px;
        }
      }
    }

    :global {
      .ant-radio-group {
        display: flex;
        flex-wrap: wrap;
      }
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
        box-shadow: none;
      }
      .ant-radio-checked .ant-radio-inner {
        border-color: @GreenColor;
        &::after {
          background-color: @GreenColor;
        }
      }
    }

    .BjInformation {
      z-index: 1;
      margin-right: 5px;
      color: black;
      border: none;
      :global {
        .ant-radio-button {
          height: 32px;
          margin-right: 14px;
          margin-bottom: 10px;
          padding: 0 20px 0 20px;
          font-weight: 600;
          background: #f5f5f5;
          border: none;
          border-radius: 16px;

          &.ant-radio-button-checked {
            background: rgba(69, 201, 119, 0.1);
            border: 1px solid @GreenColor;
          }
        }
      }
    }

    .agreement {
      position: fixed;
      bottom: 50px;
    }

    .submit {
      position: fixed;
      bottom: 14px;
      display: block;
      width: calc(~'100% - 28px');
      height: 38px;
      color: #fff;
      background: #15b628;
      border: none;
      border-radius: 19px;
      span {
        font-size: 16px;
      }
    }
    .submits {
      position: fixed;
      bottom: 14px;
      display: block;
      width: calc(~'100% - 28px');
      height: 38px;
      color: #333;
      background: #eee;
      border: none;
      border-radius: 19px;
      span {
        font-size: 16px;
      }
    }
  }
}

.CourseDetails2 {
  min-height: 100vh;
  padding: 0;
  background: #f5f5f5;
  .KCXX {
    margin: 10px 10px 0 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    .title {
      margin-bottom: 8px;
      color: @text-color;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
    }

    ul {
      padding: 0;
      color: @text-color-secondary;
      li {
        display: flex;
        flex-wrap: wrap;
        line-height: 30px;
        span:nth-child(1) {
          width: 80px;
          color: #888;
          text-align: right;
        }
        .teacherName {
          width: auto;
          padding-right: 8px;
          white-space: nowrap;
          text-align: left;
          span {
            width: auto;
            text-align: left;
          }
        }
      }
    }
  }

  .Timetable {
    margin: 18px 10px 0 10px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: @text-color;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      .legend {
        margin-left: 5px;
        :global {
          .ant-badge-status-dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
          }
        }
        &.legend1 {
          span[class='ant-badge-status-dot'] {
            border: 0.5px solid rgb(160, 159, 159);
          }
        }
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      width: 102%;

      .card {
        width: 18%;
        height: 48px;
        margin-right: 2%;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 12px;
        text-align: center;
        background: rgba(69, 201, 119, 0.1);
        border-radius: 8px;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
:global {
  .ant-modal-confirm .ant-modal-content {
    min-width: auto !important;
  }
}
