.DropClass,
.ReturnService {
  min-height: 100%;
  background: #f5f5f5;

  .appBtn {
    display: flex;
    flex-direction: row-reverse;
    padding: 16px 0;

    a {
      width: 90px;
      padding-right: 10px;
      color: #fff;
      line-height: 30px;
      text-align: right;
      background-color: #45c977;
      border-radius: 30px 0 0 30px;
    }
  }

  .Application,
  .Record {
    padding: 20px 10px 60px;

    .choice {
      color: #999999;
      font-size: 12px;
    }

    .cards {
      position: relative;
      width: 100%;
      min-height: 94px;
      margin-bottom: 16px;
      padding: 10px;
      background: #ffffff;
      background-color: #fff;
      border-radius: 8px;
      &::after {
        display: block;
        clear: both;
        content: '';
      }

      p {
        margin-bottom: 5px;
        color: #999999;
        font-size: 12px;
        & + button {
          float: right;
          color: #45c977;
          background: none;
          border: 1px solid #45c977;
          border-radius: 4px;
        }
      }

      .title {
        margin-bottom: 10px;
        color: #333333;
        font-weight: bold;
        font-size: 14px;
      }

      :global {
        .ant-checkbox-wrapper {
          position: absolute;
          top: calc(~'50% - 11px');
          right: 10px;

          .ant-checkbox {
            .ant-checkbox-inner {
              border-color: #45c977;
            }
          }

          .ant-checkbox-checked::after {
            border: 1px solid #45c977;
          }

          .ant-checkbox-checked {
            .ant-checkbox-inner {
              background-color: #45c977;
              border-color: #45c977;
            }
          }
        }
      }
    }
  }

  .Application {
    padding-bottom: 100px;
  }

  .wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;

    > p {
      margin: 5px 0;
      padding-left: 10px;
      color: #666666;
      font-size: 14px;

      a {
        color: #45c977;
      }
    }

    .btn {
      height: 54px;
      padding: 8px 14px;
      background-color: #fff;

      button {
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        background-color: #45c977;
        border-color: #45c977;
        border-radius: 19px;
        box-shadow: 0 2px 0 rgba(11, 241, 126, 0.2);
      }

      button[disabled] {
        background-color: #c5c4c4;
        border-color: #c5c4c4;
        box-shadow: 0 2px 0 rgba(39, 36, 36, 0.2);
      }
    }
  }

  .Record {
    .state {
      position: absolute;
      top: 10px;
      right: 14px;
      font-size: 12px;
      >span:nth-of-type(2){
        color: #45c977;
        margin-left: 2px;
      }
    }
  }
  .btns {
    width: 100%;
    height: 54px;
    padding: 8px 14px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    button {
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 16px;
      line-height: 20px;
      background-color: #45c977;
      border-radius: 19px;
      border:none;
    }
    button[disabled] {
      background-color: #c5c4c4;
    }
  }
}
.ReturnService{
  .cards{
    height: 80px !important;
    min-height:80px !important;
  }
}

.showagreement {
  top: 0 !important;
  width: 92% !important;
  margin: 0 auto;
  margin-top: calc(50vh - 260px) !important;
  padding: 0 !important;

  :global {
    .ant-modal-content {
      min-width: 100% !important;

      .ant-modal-footer {
        .ant-btn {
          margin-left: 0 !important;
        }
      }
    }

    .ant-modal-body {
      width: 100% !important;
      padding: 16px;

      > p:nth-child(1) {
        font-size: 16px;
        text-align: center;
      }

      > div {
        height: 400px;
        overflow: auto;
      }

      > div::-webkit-scrollbar {
        display: none;
      }
    }

    .ant-modal-footer {
      display: flex;
      justify-content: space-evenly;

      .ant-btn-primary {
        background-color: #45c977;
        border: none;
      }
    }
  }
}

.refund {
  top: 0 !important;
  width: 92% !important;
  margin: 0 auto;
  margin-top: calc(50vh - 120px) !important;
  padding: 0 !important;

  :global {
    .ant-modal-content {
      min-width: 100% !important;
      overflow: hidden;
      border-radius: 22px;

      .ant-modal-header {
        padding: 16px;
        text-align: center;
        border-bottom: none;
        div {
          font-size: 16px !important;
        }
      }

      .ant-modal-body {
        width: 100% !important;
        padding: 16px;

        > div {
          min-height: 100px;
          max-height: 180px;
          overflow: auto;

          p {
            display: flex;
            justify-content: space-between;

            span:nth-child(1) {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            span:nth-child(2) {
              width: 90px;
            }
          }
        }
      }

      .ant-modal-footer {
        display: flex;
        justify-content: space-evenly;
        height: 60px !important;
        border-top: none;

        .ant-btn-primary {
          background-color: #45c977;
        }

        .ant-btn {
          flex: 1;
          width: auto !important;
          height: 38px !important;
          color: #45c977;
          border: none;
          border: 1px solid #45c977;
          border-radius: 22px !important;
        }
      }
    }
  }
}

.ZWSJ {
  color: #999;
  font-size: 12px;
  text-align: center;

  img {
    display: block;
    width: 180px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.Evaluation {
  min-height: 100%;
  background: #f5f5f5;
  :global {
    .ant-tabs-nav {
      .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
          width: 100%;
          .ant-tabs-tab {
            width: 50%;
            margin-left: 0;
            background: #f5f5f5;
            border: none;
            border-radius: 0%;
            .ant-tabs-tab-btn {
              margin: 0 auto;
              font-size: 16px;
            }
          }
          .ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: #45c977;
              font-weight: bold;
            }
          }
        }
      }
    }
    .ant-tabs-content {
      padding-bottom: 90px;
    }
    .ant-tabs-tab-btn:focus,
    .ant-tabs-tab-remove:focus,
    .ant-tabs-tab-btn:active,
    .ant-tabs-tab-remove:active {
      color: #333;
    }
  }
  .Application {
    padding: 0 10px;
    // height: calc(~"100vh - 85px");
    .choice {
      color: #999999;
      font-size: 12px;
    }
    .cards {
      position: relative;
      width: 100%;
      height: 110px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;
      p {
        margin-bottom: 5px;
        color: #999999;
        font-size: 12px;
      }
      .title {
        margin-bottom: 10px;
        color: #333333;
        font-weight: bold;
        font-size: 16px;
      }
      button {
        float: right;
        height: 30px;
        color: #45c977;
        border: 1px solid #45c977;
        border-radius: 15px;
      }
      :global {
        .ant-btn:hover,
        .ant-btn:focus {
          color: #45c977;
          border-color: #45c977;
        }
      }
    }
  }
  .History {
    width: 100%;
    padding: 0 10px;
    .Pjcards {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      padding: 5px 10px 10px;
      background-color: #fff;
      border-radius: 8px;
      p {
        margin: 0;
      }
      .name {
        > span {
          color: #000000;
          font-weight: bold;
          line-height: 38px;
        }
        ul {
          float: right;
        }
      }
      > p:nth-child(2) {
        color: #999999;
        font-size: 12px;
      }
      .PY {
        max-height: 70px;
        margin: 5px 0;
        overflow: auto;
        color: #666666;
        font-size: 14px;
        word-break: break-all;
      }
      .BJXX {
        width: 100%;
        height: 56px;
        padding: 6px;
        color: #666666;
        font-size: 12px;
        line-height: 22px;
        background: #e9e9e9;
        border-radius: 8px;
        > p:nth-child(2) {
          color: #999999;
        }
      }
      button {
        width: 88px;
        height: 30px;
        margin-top: 9px;
        margin-left: calc(~'100% - 88px');
        color: #45c977;
        border: 1px solid #45c977;
        border-radius: 15px;
      }
      :global {
        .ant-btn:hover,
        .ant-btn:focus {
          color: #45c977;
          border-color: #45c977;
        }
      }
    }
  }
}

.OrderDetails {
  width: 100%;
  min-height:calc(~ '100vh - 44px');
  background: #f5f5f5;
  button {
    outline: none;
  }
  .hender {
    width: 100vw;
    height: 126px;
    padding-top: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(281.09deg, #44ca7a 0%, #0ef2e0 100%);
    p {
      display: flex;
      justify-content: center;
      font-weight: 400;
      font-size: 12px;
      span {
        margin-right: 0;
        color: #fff;
        font-size: 12px;
      }
      .countdown {
        line-height: 10px;
      }
    }
    span {
      margin-right: 5px;
      font-size: 20px;
    }
  }
  .content {
    width: calc(~'100% - 20px');
    margin: auto;
    padding-bottom: 54px;
    background: #f5f5f5;
    border-radius: 8px 8px 0 0;
    .KCXX,
    .FWXX {
      width: 100%;
      height: 146px;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 8px;
      .xx > * {
        height: 16px !important;
        font-size: 14px !important;
        line-height: 22px !important;
      }
      .title {
        color: @text-color;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
      ul {
        padding: 0;
        color: @text-color-secondary;
      }
    }
    .FWXX {
      height: 124px;
    }
    .KCZE {
      width: 100%;
      height: auto;
      margin-top: 10px;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 8px;
      p {
        margin: 0;
        display: flex;
        justify-content: space-between;
        line-height: 28px;
      }
      .JFFY {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
      }
    }
    .DDXX {
      width: 100%;
      height: auto;
      margin-top: 10px;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 8px;
      ul {
        margin: 0;
        padding: 0;
        color: @text-color-secondary;
        li {
          display: flex;
          justify-content: space-between;
          line-height: 32px;
        }
      }
    }
    .buttons {
      width: 100%;
      height: 50px;
      margin-top: 14px;
      button {
        float: right;
        height: 30px;
        padding: 0 12px;
        color: @text-color-secondary;
        line-height: 30px;
        background-color: transparent;
        border: 1px solid #dddddd;
        border-radius: 15px;
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 54px;
    padding: 0 14px 0 14px;
    line-height: 54px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    span:nth-of-type(1) {
      vertical-align: top;
    }
    span:nth-of-type(2) {
      color: #ff6600;
      font-size: 18px;
    }
    .btn {
      position: absolute;
      top: 8px;
      right: 14px;
      width: 60vw;
      height: 38px;
      color: #fff;
      font-size: 18px;
      line-height: 38px;
      background-color: #45c977;
      border: none;
      border-radius: 19px;
    }
  }
  .payment {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    > div {
      position: fixed;
      top: calc(~'50% - 170px');
      left: 5vw;
      width: 90vw;
      height: 340px;
      margin: auto;
      padding: 14px;
      background-color: #fff;
      p:nth-of-type(1) {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
      }
      p:nth-of-type(2) {
        color: #45c977;
        font-size: 80px;
        text-align: center;
      }
      button {
        width: 90%;
        height: 38px;
        margin-left: 5%;
        color: #fff;
        font-size: 18px;
        background-color: #45c977;
        border: none;
        border-radius: 19px;
      }
    }
  }
}
