.courseStyles {
  :global {
    .ant-drawer-header {
      position: relative;
      button {
        position: absolute;
        right: 0;
      }
    }
    .ant-space-item {
      width: 100%;
    }
    .ant-drawer-title {
      font-weight: bold;
    }
  }
}

.drawerstyle {
  :global {
    textarea {
      color: #666 !important;
    }
    .ant-descriptions-item-content {
      flex-wrap: wrap;
      color: #666;
      > .ant-tag {
        margin-bottom: 8px;
      }
    }
  }
}

.forms {
  :global {
    .ant-form-item-label {
      text-align: right;
    }

    .ant-form-item-control-input {
      line-height: 32px;
    }

    .ant-input[disabled],
    .ant-picker-disabled,
    .ant-input-number-disabled,
    .ant-select-disabled .ant-select-selector {
      color: @text-color !important;
      text-overflow: ellipsis;
      background: none !important;
      background-color: inherit;
      border: none;
      cursor: default;
      resize: none;

      .ant-picker-suffix {
        display: none;
      }
    }

    .ant-select-disabled .ant-select-arrow {
      display: none;
    }
  }
}

.KcDatas {
  :global {
    .ant-drawer-header {
      position: relative;
      button {
        position: absolute;
        right: 0;
      }
    }
  }
}
