.Index {
  height: 80vh;
  overflow: hidden;
  background-color: #fff;

  .hello {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  .apply {
    color: #333333;
    font-size: 16px;
    text-align: center;
  }

  img {
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

.pageWrapper {
  .topHeader {
    .headerItem {
      text-align: center;
      padding: @padding-lg;

      h3,
      p {
        margin: 0;
        color: #fff;
      }

      h3 {
        font-weight: bold;
        font-size: 36px;
        line-height: 59px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .centerItem{
      height: 82px;
      background: #FFFFFF;
      box-shadow: 0px 0px 6px rgba(37, 54, 80, 0.2);
      border-radius: 10px;
      padding-top: 15px;
      .borderWrap{
        position: relative;
        height: 50px;
        padding-left: 10px;
        p{
          margin: 0;
          font-size: 14px;
          color: #999999;
          span{
            float: right;
            font-size: 14px;
            line-height: 22px;
            margin-right: 5px;
            svg{
              height: 22px;
            }
          }
        }
        h3{
          margin: 0;
          font-size: 23px;
          color: #333333;
        }
      }
    }
  }

  .listWrapper {
    margin-top: @padding-lg;

    .annceList {
      height: 115px;
      overflow: hidden;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          padding: 0 0 @padding-lg 0;

          a {
            display: block;
            display: flex;
            line-height: 22px;
            .Headlines {
              display: inline-block;
              width: 36px;
              height: 22px;
              margin-right: 6px;
              color: #fff;
              font-size: 12px;
              line-height: 22px;
              text-align: center;
              background: #ff4646;
              border-radius: 11px;
            }
            span:nth-of-type(1) {
              flex: 1 1 140px;
              overflow: hidden;
              color: @text-color;
              white-space: nowrap;
              text-overflow: ellipsis;

              // &+span {
              //   color: @normal-color;
              //   width: 140px;
              //   text-align: right;
              // }
            }
            span:nth-of-type(2) {
              width: 140px;
              color: @normal-color;
              text-align: right;
            }

            &:nth-last-child(1) {
              padding: 0;
            }
          }
        }
      }

      :global {
        .ant-empty {
          padding: 0;
        }
      }
    }
    .dobuleList {
      height: 144px;

      div[class*="ant-col"] {
        line-height: 48px;

        &::before {
          display: inline-block;
          content: '';
          width: 3px;
          height: 3px;
          border-radius: 3px;
          background: @primary-color;
          vertical-align: middle;
          margin-right: @padding-sm;
        }
      }
    }
  }
  .rowWrapper {
    div[class*='ant-col']:nth-child(1){
      padding-right: 12px;
    }
    div[class*='ant-col']+div[class*='ant-col']{
      padding-left:12px;
    }
  }
  .chartWrapper {
    margin-top: @padding-lg;

    .chartWrapper {
      >div {
        height: 270px !important;
      }
    }

    .viewWrapper {
      div[class*="ant-col"] {
        text-align: center;

        p {
          color: @primary-color;
          font-size: 16px;
          margin: 0;
          text-align: left;
          padding: 0 20px;

          h1 {
            display: inline-block;
            color: @primary-color;
            padding-right: @padding-md;
            font-size: 36px;
            margin: 0;
          }
        }

        img {
          max-width: 90%;
        }

        ul {
          padding: 0 10px;
          margin: 0;
          text-align: left;

          li {
            display: inline-block;
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: @primary-color;
            padding-right: @padding-md;

            &::before {
              display: inline-block;
              content: '';
              width: 3px;
              height: 3px;
              border-radius: 3px;
              background: @primary-color;
              vertical-align: middle;
              margin-right: @padding-sm;
            }
          }
        }
      }
    }
  }

  :global {
    .ant-card-head-title {
      font-weight: bold;
    }
    .ant-empty-description{
      color: @normal-color;
    }
  }
}
.Forms {
  :global {
    .ant-row:nth-child(1) {
      display: flex;
      justify-content: center;
      .ant-col:nth-child(1) {
        width: 70px;
      }
      .ant-col:nth-child(2) {
        flex: inherit;
        width: 380px;
      }
    }
    .ant-row:nth-child(2) {
      display: flex;
      justify-content: center;
      .ant-col:nth-child(1) {
        width: 70px;
      }
      .ant-col:nth-child(2) {
        flex: inherit;
        width: 380px;
      }
    }
  }
}
