@import '../../theme.less';
.ClassroomStyle {
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  .wrap {
    padding: 0 10px;
    .cards {
      width: 100%;
      margin: 10px 0;
      padding: 12px;
      background: #fff;
      background-color: #fff;
      border-radius: 8px;
      p {
        margin: 0;
        line-height: 28px;
      }
      > p:nth-child(1) {
        display: flex;
        color: #000;
        font-weight: bold;
        font-size: 16px;
        .name {
          margin: -5px 0 0 10px;
          > p:nth-child(2) {
            color: #999;
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
      .content {
        margin-top: 8px;
        margin-left: 50px;
        color: #999;
        > p {
          display: flex;
          justify-content: space-between;
          color: #333;
          font-size: 14px;
          line-height: 22px;
          > span {
            color: #999;
            font-size: 12px;
          }
        }
        .imgContainer {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          margin: 10px 0;
          .pairImg {
            width: 50%;
            height: 120px;
            img {
              max-height: 100%;
              object-fit: cover;
            }
          }
          .nineImg {
            height: 86px;
            img {
              max-height: 100%;
              object-fit: cover;
            }
          }
          :global {
            .ant-image {
              // flex-basis: 30%;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

:global {
  .ant-scrolling-effect {
    width: 100% !important;
  }
}

.signUpModal {
  top: 0 !important;
  width: 92% !important;
  max-width: calc(@mobileMaxWidth - 8%);
  margin: 0 auto;
  margin-top: calc(50vh - 150px) !important;
  padding: 0 !important;

  .TimeInterval {
    max-height: 180px;
    overflow: auto;

    > span {
      width: 50%;
      min-width: 144px;

      > span {
        display: block;
        width: 90%;
        min-width: 144px;
        height: 45px;
        margin: 0 auto;
        padding-top: 6px;
        font-size: 14px;
        line-height: 26px;

        .mouths {
          float: initial;
          max-width: 100px;
          margin: 0 !important;
          margin-bottom: -4px !important;
          overflow: hidden;
          color: #333;
          font-size: 14px;
          line-height: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        > span {
          float: right;
          margin-top: -2px;
        }

        .times {
          float: initial;
          color: #999;
          font-size: 12px;
        }
      }
    }
  }

  .TimeInterval::-webkit-scrollbar {
    display: none;
  }

  :global {
    .ant-modal-content {
      min-width: 100% !important;
      overflow: hidden;
      border-radius: 22px;

      .ant-modal-header {
        height: 54px !important;
        padding: 16px;
        text-align: center;
        border-bottom: 1px solid #ddd;

        div {
          font-size: 16px !important;
        }
      }

      .ant-modal-body {
        width: 100% !important;
        // padding: 16px 16px 0 16px;

        > div {
          .ant-checkbox-group {
            max-height: 150px;
            overflow: auto;
          }

          .ant-checkbox-group::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .ant-modal-footer {
        display: flex;
        justify-content: space-evenly;
        height: 54px !important;
        padding: 0 16px 16px !important;
        border-top: none;

        .ant-btn-primary {
          color: #fff !important;
          background-color: #3874c5;
        }

        .ant-btn {
          flex: 1;
          width: auto !important;
          height: 38px !important;
          color: #3874c5;
          border: none;
          border: 1px solid #3874c5;
          border-radius: 22px !important;
        }
      }
    }

    .ant-checkbox-wrapper {
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      margin-left: 0 !important;

      .ant-checkbox {
        position: absolute;
        right: 5px;

        .ant-checkbox-inner {
          border-color: #3874c5;
        }
      }

      .ant-checkbox-checked::after {
        border: 1px solid #3874c5;
      }

      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background-color: #3874c5;
          border-color: #3874c5;
        }
      }
    }
  }
}
