.ServiceReservation {
  min-height: 100%;
  background: #fff;
  :global {
    .ant-tabs-content-holder {
      padding: 0 10px;
    }
    .ant-tabs-nav {
      margin-bottom: 8px;
      .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
          width: 100%;
          .ant-tabs-tab {
            width: 50%;
            margin-left: 0;
            background: #fff;
            border: none;
            border-radius: 0%;
            .ant-tabs-tab-btn {
              margin: 0 auto;
              font-size: 16px;
            }
          }
          .ant-tabs-tab:hover {
            color: #333333;
          }
          .ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: #45c977;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .category,
  .Selected {
    :global {
      .ant-tabs-content-holder {
        padding: 0;
      }
      .ant-tabs-nav::before {
        border: none;
      }
      .ant-tabs-nav-list {
        width: auto !important;
        .ant-tabs-tab {
          color: #666666 !important;
          border: 1px solid #fff !important;
          .ant-tabs-tab-btn {
            font-size: 14px !important;
          }
        }
      }
    }
    .wrap {
      .box {
        display: flex;
        margin-bottom: 16px;

        > div:nth-child(1) {
          width: 110px;
          height: 70px;
          margin-right: 10px;
          text-align: center;
          img {
            margin: 0 auto;
            border-radius: 8px;
          }
        }
        > div:nth-child(2) {
          width: calc(~'100% - 120px');
          p {
            margin: 5px 0;
            overflow: hidden;
            color: #999999;
            font-size: 12px;
            line-height: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .title {
            color: #333333;
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
  .Selected {
    .noOrder {
      text-align: center;
      > div {
        width: 230px;
        height: 150px;
        margin: 0 auto;
        margin-top: calc(~'50vh - 220px');
        padding-top: 40px;
        background: linear-gradient(
          180deg,
          rgba(109, 220, 156, 0.1) 0%,
          rgba(109, 220, 156, 0) 100%
        );
        border-radius: 32px 32px 32px 0px;
        p {
          margin-bottom: 6px;
          color: #45c977;
          text-align: center;
        }
        a {
          width: 60px;
          height: 20px;
          margin: 0 auto;
          color: #45c977;
          font-weight: bold;
          border-bottom: 1px solid #45c977;
        }
      }
      img {
        width: 175px;
        height: 175px;
        margin-top: -60px;
      }
    }
  }
}

.Details {
  .wrap {
    padding: 10px 10px 65px 10px;
    img {
      width: 100%;
      height: 226px;
      border-radius: 8px;
    }
    > div {
      p {
        margin-bottom: 0;
        color: #666;
        font-size: 14px;
      }
      .title {
        margin: 18px 0 10px 0;
        color: #333333;
        font-weight: bold;
        font-size: 16px;
      }
    }
    > div:nth-of-type(2) {
      margin-top: 20px;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 54px;
    padding: 8px 14px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    > span {
      color: #ff6600;
      font-size: 20px;
      line-height: 36px;
    }
    button {
      width: 60%;
      height: 38px;
      color: #fff;
      font-size: 16px;
      background: #51d081;
      border: none;
      border-radius: 22px;
    }
  }
  .box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.5);
    > div {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 220px;
      padding:20px 14px 14px 14px;
      background-color: #fff;
      p {
        margin-bottom: 10px;
        color: #ff6600;
        font-size: 20px;
      }
      .title {
        color: #333333;
        font-size: 16px;
      }
      .agreement {
        position: fixed;
        bottom: 70px;
        :global {
          .ant-checkbox {
            .ant-checkbox-inner {
              border-color: #45c977;
            }
          }
          .ant-checkbox-checked::after {
            border: 1px solid #45c977;
          }
          .ant-checkbox-checked {
            .ant-checkbox-inner {
              background-color: #45c977;
              border-color: #45c977;
            }
          }
        }
      }
      .submit {
        position: fixed;
        bottom: 14px;
        display: block;
        width: calc(~'100% - 28px');
        height: 38px;
        color: #fff;
        background: #45c977;
        border: none;
        border-radius: 19px;

        &[disabled] {
          color: #bbb;
          background-color: #e6e6e6;
          border-color: #e4e4e4;
          box-shadow: none;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }
}

.showagreement {
  top: 0 !important;
  width: 92% !important;
  margin: 0 auto;
  margin-top: calc(50vh - 260px) !important;
  padding: 0 !important;
  :global {
    .ant-modal-content {
      min-width: 100% !important;
      .ant-modal-footer {
        .ant-btn {
          margin-left: 0 !important;
        }
      }
    }
    .ant-modal-body {
      width: 100% !important;
      padding: 16px;
      > p:nth-child(1) {
        font-size: 16px;
        text-align: center;
      }
      > div {
        height: 400px;
        overflow: auto;
      }
      > div::-webkit-scrollbar {
        display: none;
      }
    }
    .ant-modal-footer {
      display: flex;
      justify-content: space-evenly;
      .ant-btn-primary {
        background-color: #45c977;
        border: none;
      }
    }
  }
}
