.ListHeaderBigBox {
  display: flex;
  justify-content: space-between;
  .HeaderRight {
    a {
      color: #999999;
    }
  }
  :global {
    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
      border-bottom: 0;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
  }
}
