@import '../../theme.less';

.CourseAdjustment {
  height: 100vh;
  background: #f5f5f5;

  .Selected {
    padding-top: 20px;

    .noOrder {
      text-align: center;

      > div {
        width: 230px;
        height: 150px;
        margin: 0 auto;
        margin-top: calc(~'50vh - 220px');
        padding-top: 40px;
        background: linear-gradient(
          180deg,
          rgba(153, 194, 255, 0.1) 0%,
          rgba(109, 200, 220, 0) 100%
        );
        border-radius: 32px 32px 32px 0;

        p {
          margin-bottom: 6px;
          color: #2179ff;
          text-align: center;
        }

        a {
          width: 60px;
          height: 20px;
          margin: 0 auto;
          color: #2179ff;
          font-weight: bold;
          border-bottom: 1px solid #2179ff;
        }
      }

      img {
        width: 175px;
        height: 175px;
        margin-top: -60px;
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 480px;
  }
  .apply {
    width: 80px;
    color: #3e88f8;
    text-align: center;

    > div {
      width: 48px;
      height: 48px;
      margin: auto;
      margin-bottom: 10px;
      color: #fff;
      background-color: #3e88f8;
      border-radius: 50%;
      box-shadow: 0 0 30px rgba(0, 102, 255, 0.4);

      :global {
        .anticon-plus {
          margin-top: 10px;
          font-size: 28px;
        }
      }
    }
  }

  .wrap {
    padding: 0 10px;

    .Information {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;

      &::after {
        display: block;
        clear: both;
        content: '';
      }

      a {
        > div {
          display: flex;
          justify-content: flex-end;

          h4 {
            flex: 1;
            font-weight: bold;

            > span:nth-of-type(1) {
              display: initial !important;
            }

            .cards {
              margin-left: 8px;
              padding: 2px 8px;
              font-weight: normal;
              font-size: 12px;
              border: 1px solid #dadada;
              border-radius: 4px;
            }
          }

          span {
            color: #999;
          }
        }
      }

      p {
        margin-bottom: 0;
        color: #666;
        line-height: 22px;
      }

      button {
        float: right;
        height: 30px;
        padding: 0 24px;
        color: #ff4b4b;
        border: 1px solid #ddd;
        border: 1px solid #ff4b4b;
        border-radius: 22px;
      }
    }
  }

  .wraps {
    padding: 0 10px;
    overflow: auto;

    .Information {
      margin-top: 10px;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;

      &::after {
        display: block;
        clear: both;
        content: '';
      }

      > div {
        display: flex;
        justify-content: flex-end;

        h4 {
          flex: 1;
          font-weight: bold;

          > span:nth-of-type(1) {
            display: initial !important;
          }

          .cards {
            margin-left: 8px;
            padding: 2px 8px;
            font-weight: normal;
            font-size: 12px;
            border: 1px solid #dadada;
            border-radius: 4px;
          }
        }

        span {
          color: #999;
        }
      }

      p {
        margin-bottom: 0;
        color: #666;
        line-height: 22px;
      }

      button {
        float: right;
        height: 30px;
        padding: 0 24px;
        color: #ff4b4b;
        border: 1px solid #ddd;
        border: 1px solid #ff4b4b;
        border-radius: 22px;
      }
    }
  }

  :global {
    .ant-tabs {
      height: calc(~'100% - 150px');

      .ant-tabs-content-holder {
        margin-top: 10px;
        overflow: auto;
      }

      .ant-tabs-content-holder::-webkit-scrollbar {
        display: none;
      }
    }

    .ant-tabs-nav {
      margin-bottom: 0;

      .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
          width: 100%;

          .ant-tabs-tab {
            width: 50%;
            margin-left: 0;
            background: #f5f5f5;
            border: none;
            border-radius: 0%;

            .ant-tabs-tab-btn {
              margin: 0 auto;
              font-size: 16px;
            }
          }

          .ant-tabs-tab:hover {
            color: #333;
          }

          .ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: #333;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.Details {
  height: 100vh;
  padding: 0 0 70px;
  overflow: auto;
  background-color: #f5f5f5;

  .wraps {
    padding: 0 10px;
  }

  .apply {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;

    p {
      margin: 0;
      color: #666;
      font-size: 14px;
      line-height: 28px;
    }

    .title {
      margin: 5px 0;
      color: #333;
      font-weight: bold;
      font-size: 16px;

      span {
        display: contents !important;
      }
    }
  }

  .process {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;

    .title {
      font-weight: bold;
      font-size: 16px;
    }

    .processLine {
      position: absolute;
      top: 66px;
      left: 20px;

      .circular {
        width: 10px;
        height: 10px;
        background: #e4e4e4;
        border-radius: 50%;
      }

      .Line {
        width: 4px;
        height: 80px;
        margin: 0 auto;
        background: #e4e4e4;
      }
    }

    .role,
    .roles {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
      padding-left: 30px;

      > div:nth-child(1) {
        p {
          margin: 0;
          color: #999;
          font-size: 14px;
        }

        p:nth-child(1) {
          color: #666;
          font-size: 16px;
        }
      }

      > div:nth-child(2) {
        min-width: 62px;
        height: 32px;
        margin-top: 8px;
        padding: 0 10px;
        color: #06f;
        line-height: 32px;
        text-align: center;
        background: rgba(0, 102, 255, 0.1);
        border-radius: 4px;
      }
    }

    .roles {
      margin-top: 40px;
      margin-bottom: 0;
    }

    .switch {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      font-size: 16px;

      :global {
        .ant-switch-checked {
          background-color: #06f;
        }
      }
    }

    :global {
      .ant-input-textarea {
        margin-bottom: 20px;
      }
    }

    textarea {
      height: 100px !important;
      resize: none;
    }
  }

  .fixedBtn {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: calc(@mobileMaxWidth - 20px) !important;
    padding: 8px 14px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    button {
      width: 100%;
      color: #06f;
      background: #fff;
      border: 1px solid #06f;
      border-radius: 22px;
    }

    button:nth-child(2) {
      color: #fff;
      background: #06f;
      border: none;
      border-radius: 22px;
    }
  }
}

.Details::-webkit-scrollbar {
  display: none;
}

.TDKList {
  .wraps {
    padding: 0 10px;
    overflow: auto;

    .Information {
      margin-top: 10px;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;

      &::after {
        display: block;
        clear: both;
        content: '';
      }

      > div {
        display: flex;
        justify-content: flex-end;

        h4 {
          flex: 1;
          font-weight: bold;

          > span:nth-of-type(1) {
            display: initial !important;
          }

          .cards {
            margin-left: 8px;
            padding: 2px 8px;
            font-weight: normal;
            font-size: 12px;
            border: 1px solid #dadada;
            border-radius: 4px;
          }
        }

        span {
          color: #999;
        }
      }

      p {
        margin-bottom: 0;
        color: #666;
        line-height: 22px;
      }

      button {
        float: right;
        height: 30px;
        padding: 0 24px;
        color: #ff4b4b;
        border: 1px solid #ddd;
        border: 1px solid #ff4b4b;
        border-radius: 22px;
      }
    }
  }
}
