.CourseAdjustment{
  .Selected{
    padding-top: 20px;
  }
  .Selected {
    .noOrder {
      text-align: center;
      > div {
        width: 230px;
        height: 150px;
        margin: 0 auto;
        margin-top: calc(~'50vh - 220px');
        padding-top: 40px;
        background: linear-gradient(180deg, rgba(153, 194, 255, 0.1) 0%, rgba(109, 200, 220, 0) 100%);
        border-radius: 32px 32px 32px 0px;
        p {
          margin-bottom: 6px;
          color: #2179FF;
          text-align: center;
        }
        a {
          width: 60px;
          height: 20px;
          margin: 0 auto;
          color: #2179FF;
          font-weight: bold;
          border-bottom: 1px solid #2179FF;
        }
      }
      img {
        width: 175px;
        height: 175px;
        margin-top: -60px;
      }
    }
  }
  .apply{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    text-align: center;
    color: #3E88F8;
    >div{
      width: 48px;
      height: 48px;
      margin:auto;
      margin-bottom: 10px;
      background-color: #3E88F8;
      box-shadow: 0 0 30px rgba(0,102,255,.4);
      border-radius: 50%;
      color: #fff;
      font-size: 46px;
      line-height: 38px;
    }

  }
}
