.IconTextCompBox {
  border-radius: 8px;
  .title {
    display: flex;
    height: 24px;
    margin-bottom: 10px;
    line-height: 24px;

    > div:nth-of-type(1) {
      display: inline-block;
      width: 3px;
      height: 19px;
      margin: 3px 6px 0 0;
      background: #15b628;
      border-radius: 3px 0;
    }

    span {
      color: #333;
      font-weight: bold;
      font-size: 18px;
    }
  }
  a {
    color: #333;

    .Box {
      text-align: center;
      .last {
        position: relative;
        top: 10px;
      }
      .iconBox,
      .imgBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: 10px auto 4px;
        border-radius: 10px;
      }
      .iconShwBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: -34px auto 4px;
        border-radius: 10px;
        transform: rotate(30deg);
        opacity: 0.3;
      }
      .iconShwBox1 {
        position: relative;
        top: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: -34px auto 4px;
        border-radius: 10px;
        transform: rotate(30deg);
        opacity: 0.3;
      }

      .imgBox {
        width: 30px;
        height: 30px;
        margin: 0 auto;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .TextBox {
        height: 17px;
        font-size: 12px;
        line-height: 17px;
      }
      .TextBox1 {
        position: relative;
        top: 14px;
        height: 17px;
        font-size: 12px;
        line-height: 17px;
      }
    }
  }

  :global {
    .ant-list-split .ant-list-header {
      height: 22px;
      color: #333;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      border-bottom: 0;
    }

    .ant-list-header {
      margin-bottom: 18px;
      padding-left: 10px;
    }

    .ant-list-grid .ant-col > .ant-list-item {
      margin-bottom: 10px;
    }
  }
}
