.bigbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 30hw;
    width: 100%;
    .cs{
        width: 100%;
        height: 35%;
        text-align: left;
        padding: 5px 10px;
    }
    .boxclassName{
        width: 60px;
        height: 50px;
        margin: 10px 10px;
        .titleclassName{
            text-align: center;
            height: 40%;
        }
        .valueclassName{
            height: 60%;
            text-align: center;
        }
    }
    
}