@import '../../theme.less';

.schedule {
  position: relative;

  .today {
    position: absolute;
    right: 0;
    width: 28px;
    height: 28px;
    color: #fff;
    line-height: 28px;
    text-align: center;
    background-color: @GreenColor;
    border-radius: 14px;
  }

  .subTitle {
    margin: 12px 0;
    font-size: @font-size-sm;
    line-height: 17px;

    &:before {
      display: inline-block;
      width: 3px;
      height: 12px;
      color: @text-color;
      vertical-align: baseline;
      background-color: @GreenColor;
      content: '';
      margin-right: 4px;
    }
  }

  :global {
    div.ui-listItemWrapper {
      padding: 10px 10px 0;
      background: #ffffff;
      border-radius: 8px;
      margin-bottom: 12px;
      >div.ui-listItemContent{
        display: flex;
        >a{
          flex: 1 auto;
          .ant-list-item-meta{
            margin-bottom: 0;
          }
        }
        .anticon{
          width:40px;
          position: relative;
          svg{
            position: absolute;
            bottom: -3px;
            height: 20px;
            transform:rotate(90deg);
            -ms-transform:rotate(90deg); 	/* IE 9 */
            -moz-transform:rotate(90deg); 	/* Firefox */
            -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
            -o-transform:rotate(90deg);
          }
        }
      }
      &.ui-revert{
        svg{
          transform:rotate(-90deg);
          -ms-transform:rotate(-90deg); 	/* IE 9 */
          -moz-transform:rotate(-90deg); 	/* Firefox */
          -webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
          -o-transform:rotate(-90deg);
        }
      }
    }

    .react-h5-calendar {
      padding: 0;
      background: none;

      .calendar-operate {
        color: @text-color;
        font-weight: 600;
        font-size: 14px;

        .icon {
          display: none;
        }
      }

      .calendar-head {
        margin-top: 7px;
        font-size: 14px;
        line-height: 42px;
        border-bottom: 1px solid @border-color-base;

        .head-cell {
          height: 42px;
        }
      }

      .calendar-body {
        background-color: #fff;

        &.week-mode {
          height: 60px;
        }

        .month-cell {
          .day-cell {
            height: 50px;

            .current-day {
              background-color: @GreenColor;
            }

            .dot-mark {
              background-color: @text-color  !important;
            }
          }
        }
      }

      .bottom-operate {
        display: none;
      }
    }
  }
}
