@import '../../theme.less';

.schedule {
  position: relative;

  .dksq {
    .ZWSJ{
      font-size: 12px;
      color: #999;
      text-align: center;
      background-color: #fff;
      padding: 10px;
      img{
        width: 180px;
        display: block;
        margin: 0 auto;
      }
    }
    :global {
      .ant-radio-group {
        width: 100%;
        .ant-space {
          width: 100%;
          .ant-space-item {
            background: #fff;
            border-radius: 8px;
          }
          .ant-radio-wrapper {
            width: 100%;
            .ant-radio {
              position: absolute;
              top: 20px;
              right: 20px;
            }
            >span{
              p{
                margin: 5px;
              }
              p:nth-child(1){
                font-weight: bold;
              }
              p:nth-child(2){
                color: #999;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .today {
    position: absolute;
    right: 0;
    width: 28px;
    height: 28px;
    color: #fff;
    line-height: 28px;
    text-align: center;
    background-color: @GreenColor;
    border-radius: 14px;
  }

  .subTitle {
    margin: 12px 0;
    font-size: @font-size-sm;
    line-height: 17px;

    &:before {
      display: inline-block;
      width: 3px;
      height: 12px;
      margin-right: 4px;
      color: @text-color;
      vertical-align: baseline;
      background-color: @GreenColor;
      content: '';
    }
  }

  :global {
    div.ui-listItemWrapper {
      margin-bottom: 12px;
      padding: 10px;
      background: #ffffff;
      border-radius: 8px;
      position: relative;

      > div.ui-listItemContent {
        display: flex;

        > a {
          flex: 1 auto;

          .ant-list-item-meta {
            margin-bottom: 0;
          }
        }

        .anticon {
          position: relative;
          width: 40px;

          svg {
            position: absolute;
            bottom: -3px;
            height: 20px;
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            /* IE 9 */
            -moz-transform: rotate(90deg);
            /* Firefox */
            /* Safari 和 Chrome */
          }

          &.ui-revert {
            svg {
              bottom: 0;
              -ms-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -webkit-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              transform: rotate(-90deg);
              /* IE 9 */
              /* Firefox */
              /* Safari 和 Chrome */
            }
          }
        }
      }
    }

    .react-h5-calendar {
      padding: 0;
      background: none;

      .calendar-operate {
        color: @text-color;
        font-weight: 600;
        font-size: 14px;

        .icon {
          display: none;
        }
      }

      .calendar-head {
        margin-top: 7px;
        font-size: 14px;
        line-height: 42px;
        border-bottom: 1px solid @border-color-base;

        .head-cell {
          height: 42px;
        }
      }

      .calendar-body {
        position: relative;
        background-color: #fff;
        &.week-mode {
          height: 60px;
        }

        .month-cell {
          .day-cell {
            height: 50px;

            .current-day {
              background-color: @GreenColor;
            }

            .dot-mark {
              position: absolute;
              top: 40px;
              background-color: @text-color !important;
            }
          }
        }
      }

      .bottom-operate {
        display: none;
      }
    }
  }
}

.leaveSchool {
  :global {
    .ant-modal-header {
      padding: 16px;
      text-align: center !important;
    }
    .ant-modal-body {
      // width: 100% !important;
      padding: 16px;
      border-radius: 4px;
      > div {
        height: 100px;
        overflow: auto;
        p {
          display: flex;
          justify-content: space-between;
          span:nth-child(1) {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          span:nth-child(2) {
            width: 90px;
          }
        }
      }
    }
    .ant-modal-content {
      min-width: auto !important;
      .ant-input {
        min-height: 116px;
        color: #999999;
        font-size: 14px;
        line-height: 24px;
      }
    }
    .ant-modal-footer {
      margin-top: 20px;
      text-align: center !important;
      .ant-btn {
        width: 45% !important;
        border-radius: 22px !important;
      }
    }
  }
}
