@import '~antd/es/style/themes/default.less';

:global {
  .ant-btn-background-ghost {
    color: rgba(62, 136, 248, 1) !important;
    border-color: rgba(62, 136, 248, 1) !important;
  }
}

.add {
  margin-top: -24px;
}
.uploadBtn {
  position: relative;
  display: flex;
  align-items: center;
  .uploadText {
    position: absolute;
    top: 5px;
    margin-left: 130px;
  }
  .uploadDescription {
    margin-left: 15px;
    font-size: @font-size-sm;
  }
}
