@import '../theme.less';

.indexPage {
  .cusHeader {
    position: relative;
    height: 126px;
    background: -o-linear-gradient(270deg, @DarkBlue 0%, @Cyan 100%);
    background: -moz-linear-gradient(270deg, @DarkBlue 0%, @Cyan 100%);
    background: -webkit-linear-gradient(270deg, @DarkBlue 0%, @Cyan 100%);
    background: linear-gradient(270deg, @DarkBlue 0%, @Cyan 100%);

    .headerText {
      position: relative;
      z-index: 2;
      padding: 26px 0 0 @padding-md;

      h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 6px;
        color: #333;
        font-weight: 600;
        font-size: @font-size-lg;
        line-height: 24px;

        > div:nth-child(1) {
          display: inherit;

          > span:nth-child(1) {
            display: inline-block;
            max-width: 40vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        & + div {
          color: @text-color-secondary;
          font-size: @font-size-sm;
        }
      }
    }

    .headerPop {
      position: absolute;
      right: 0;
      width: 40%;
      max-width: 300px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      .announceList {
        div[class*='Title'] a {
          &::before {
            display: inline-block;
            width: 4px;
            height: 4px;
            margin-right: 8px;
            vertical-align: super;
            background-color: @text-color;
            border-radius: 50%;
            content: '';
          }
        }
      }
    }

    // .XsName {
    //   position: absolute;
    //   top: 33px;
    //   right: 0;
    //   height: 30px;
    //   padding-left: 2px;

    // }
  }

  .needToDo {
    margin-bottom: 20px;

    .title {
      display: flex;
      height: 24px;
      margin-bottom: 15px;
      line-height: 24px;

      > div:nth-of-type(1) {
        display: inline-block;
        width: 3px;
        height: 19px;
        margin: 3px 6px 0 0;
        background: #3d8bf2;
        border-radius: 3px 0;
      }

      span {
        color: #333;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .wrap {
      width: 100%;
      height: 70px;
      margin-bottom: 10px;
      padding: 12px 10px;
      color: #333;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 8px;

      i {
        margin-right: 5px;
        font-weight: bold;
        font-size: 16px;
      }

      > span {
        color: #267ef0;
      }
    }

    > p {
      color: #666;
      font-size: 12px;
      text-align: center;
    }
  }

  .pageContent {
    position: relative;
    top: -20px;
    padding: 0 10px;

    .noticeArea {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 10px @padding-md;
      background-color: #fff;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .noticeImg {
        svg {
          width: 34px;
          height: 34px;
        }
      }

      .gengduo {
        svg {
          width: 18px;
          height: 18px;
          color: #999;
        }
      }

      .noticeText {
        display: flex;
        flex: auto;
        width: 100%;

        > span {
          vertical-align: text-bottom;
        }

        > a {
          width: calc(100% - 46px);
        }
      }

      :global {
        .anticon {
          flex: 0 0 20px;
          width: 20px;
        }
      }
    }

    .banner {
      width: 100%;
      height: 116px;
      margin: 15px 0 24px;
      background-size: 100% 100%;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    .enrollArea {
      margin-top: 20px;
      margin-bottom: 20px;

      .enrollText {
        padding: 7px;
        overflow: hidden;
        color: #fff;
        font-weight: 600;
        line-height: 26px;
        white-space: nowrap;
        text-align: center;
        text-overflow: ellipsis;
        background: @oriangeBgColor;
        border-radius: 20px 20px 0 20px;
      }

      .enrollDate {
        padding: 7px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        background: #f5f5f5;
        border-radius: 20px 0 20px 20px;
      }
    }

    .patrolsBox {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0 10px;
      background: linear-gradient(87.38deg, #06f 0%, #17e3ff 100%);
      border-radius: 25px;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        .titles {
          display: flex;
          align-items: center;
          margin: 10px;
          color: #fff;
          font-size: 18px;
        }

        .xunke {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 4px;
          color: #fff;
          background: linear-gradient(270deg, #06f 0%, rgba(0, 102, 255, 0) 100%);
          border-radius: 30px;

          p {
            margin: 0 10px 0 15px;
          }
        }

        :global {
          .ant-badge-count {
            min-width: 24px;
            height: 24px;
            margin-left: 10px;
            background: #ff6b17;
            border-radius: 12px;
            box-shadow: 0 0 0 1px rgba(0, 102, 255, 0);
          }
        }
      }
    }

    .patrols {
      height: 76px;
      margin-bottom: 20px;
      padding: 20px 10px;
      background-size: 100% 100%;
      border-radius: 8px;

      a {
        display: flex;
        justify-content: space-between;
        margin: 0;

        .titles {
          position: relative;
          width: 170px;
          height: 36px;
          padding-left: 10px;
          color: #fff;
          font-size: 18px;
          line-height: 36px;
          background: linear-gradient(270deg, #1342f3 0%, #48b0fb 100%);
          border-radius: 0 18px 18px 0;
          opacity: 0.8;
        }

        .xunke {
          display: flex;
          justify-content: space-between;
          width: 82px;
          height: 26px;
          margin-top: 5px;
          padding: 2px 2px 2px 10px;
          color: #fff;
          text-align: center;
          background: linear-gradient(270deg, #1273f0 0%, #2083f3 100%);
          border-radius: 13px;

          > div {
            width: 22px;
            height: 22px;
            color: #3d8bf2;
            background: #fff;
            border-radius: 50%;
          }
        }
      }

      :global {
        .ant-badge-not-a-wrapper:not(.ant-badge-status) {
          position: absolute;
          top: 9px;
          right: 20px;
        }

        .ant-badge-count {
          background: #ff6b17;
          box-shadow: 0 0 0 1px rgba(0, 102, 255, 0);
        }
      }
    }

    .patrol {
      display: flex;
      justify-content: space-between;
      // transform: matrix(-1, 0, 0, 1, 0, 0);
      margin-bottom: 20px;
      padding: 0 12px;
      background: linear-gradient(270deg, #17e3ff 0%, #06f 100%);
      border-radius: 23px;

      & > span {
        position: relative;
        display: inline-block;
        height: 46px;
        color: #fff;
        font-size: 16px;
        line-height: 46px;

        :global {
          .ant-badge-not-a-wrapper:not(.ant-badge-status) {
            // vertical-align: sub;
            margin-bottom: 4px;
          }

          .ant-badge-count {
            background: #ff6b17;
            box-shadow: 0 0 0 1px rgba(0, 102, 255, 0);
          }
        }

        // >span {
        //   position: absolute;
        //   display: inline-block;
        //   background: #FF6B17;
        //   border-radius: 30px;
        //   width: 30px;
        //   height: 30px;
        //   line-height: 30px;
        //   top:8px;
        //   right:0px;
        //   text-align: center;
        // }

        & + a {
          // padding-right: 24px;
          position: relative;
          top: 10px;
          height: 26px;
          // width: 80px;
          color: #fff;
          background: linear-gradient(270deg, #06f 0%, rgba(0, 102, 255, 0) 100%);
          border-radius: 30px;

          > span:nth-child(1) {
            height: 26px;
            // width: 80px;
            // display: inline-block;
            padding: 0 5px 0 10px;
            font-size: 14px;
            line-height: 26px;
            vertical-align: middle;
          }

          .gengduo {
            margin-right: 2px;
            padding: 5px;
            color: #06f;
            font-size: 10px;
            vertical-align: middle;
            background-color: #fff;
            border-radius: 20px;
          }
        }
      }
    }

    .resourcesBox {
      margin-top: 20px;
      margin-bottom: 20px;
      background: url('/crp_bg.png');
      background-size: cover;
      border-radius: 8px;

      .resources {
        display: flex;
        align-items: center;
        width: 100%;
        height: 76px;
        padding: 25px 30px;

        > img {
          height: 100%;
        }
      }
    }

    .todayCourses {
      :global {
        .ant-list-item-meta:first-child {
          background: rgba(69, 201, 119, 0.05);
        }

        .ant-list-item-meta:nth-child(2) {
          background: rgba(102, 102, 102, 0.05);
        }
      }
    }
  }

  :global {
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 28px;
    }

    .ant-tabs-top > .ant-tabs-nav,
    .ant-tabs-bottom > .ant-tabs-nav,
    .ant-tabs-top > div > .ant-tabs-nav,
    .ant-tabs-bottom > div > .ant-tabs-nav {
      height: 22px;
      margin-bottom: 12px;
      line-height: 22px;
    }

    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
      border-bottom: 0;
    }

    .ant-tabs-ink-bar {
      display: none;
    }

    .ant-tabs-tab:hover {
      color: #333;
      font-weight: 600;
      font-size: @font-size-lg;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #333;
      font-weight: 600;
      font-size: @font-size-lg;
    }

    .ant-tabs-tab-btn {
      font-size: @font-size-lg;
    }

    .ant-tabs-extra-content {
      a {
        color: #999;
        font-size: @font-size-sm;
      }
    }
  }

  .courseType {
    :global {
      .ant-tabs-ink-bar {
        display: block;
        margin-bottom: 2px;
        background: #15b628;
      }

      .ant-tabs-tab:hover {
        font-size: 14px;
      }

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        font-size: 14px;
      }

      .ant-tabs-tab-btn {
        font-size: 14px;
      }
    }
  }

  .teachCourses {
    :global {
      .ant-list-items {
        > div {
          margin-bottom: 10px;
          padding: 10px 10px 1px;
          background-color: #fff;
          border-radius: 8px;
        }
      }
    }
  }
}

.modalStyle {
  :global {
    .ant-modal-title {
      font-size: 16px !important;
    }

    .ant-modal-header {
      padding: 16px;
      text-align: center !important;
    }

    .ant-modal-content {
      min-width: auto !important;
      margin: 0 7%;

      .ant-modal-body {
        // width: 100% !important;
        padding: 16px;
        border-radius: 16px;

        > div {
          height: 100px;
          overflow: auto;

          p {
            display: flex;
            justify-content: space-between;

            span:nth-child(1) {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            span:nth-child(2) {
              width: 90px;
            }
          }
        }
      }

      .ant-input {
        color: #999;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .ant-modal-footer {
      margin-top: 20px;
      text-align: center !important;

      .ant-btn {
        width: 45% !important;
        border-radius: 22px !important;
      }
    }
  }
}

.tabHeader {
  margin-bottom: 20px;

  .title {
    position: relative;
    display: flex;
    height: 24px;
    margin-bottom: 10px;
    line-height: 24px;

    > div:nth-of-type(1) {
      display: inline-block;
      width: 3px;
      height: 19px;
      margin: 3px 6px 0 0;
      background: #3d8bf2;
      border-radius: 3px 0;
    }

    > span:nth-of-type(1) {
      color: #333;
      font-weight: bold;
      font-size: 18px;
    }

    a {
      position: absolute;
      right: 0;
      color: #999;
      font-size: 12px;
    }
  }
}
