@import '../theme.less';

.indexPage {
  .cusHeader {
    position: relative;
    height: 126px;
    background: -o-linear-gradient(270deg, @DarkBlue 0%, @Cyan 100%);
    background: -moz-linear-gradient(270deg, @DarkBlue 0%, @Cyan 100%);
    background: -webkit-linear-gradient(270deg, @DarkBlue 0%, @Cyan 100%);
    background: linear-gradient(270deg, @DarkBlue 0%, @Cyan 100%);

    .headerText {
      position: relative;
      z-index: 2;
      padding: 26px 0 0 @padding-md;

      h4 {
        margin-bottom: 6px;
        color: #333;
        font-weight: 600;
        font-size: @font-size-lg;
        line-height: 24px;

        &+div {
          color: @text-color-secondary;
          font-size: @font-size-sm;
        }
      }
    }

    .headerPop {
      position: absolute;
      right: 0;
      width: 40%;
      max-width: 300px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      .announceList {
        div[class*='Title'] a {
          &::before {
            display: inline-block;
            width: 4px;
            height: 4px;
            margin-right: 8px;
            vertical-align: super;
            background-color: @text-color;
            border-radius: 50%;
            content: '';
          }
        }
      }
    }
  }

  .needToDo {
    margin-bottom: 20px;
    .title {
      display: flex;
      height: 24px;
      margin-bottom: 15px;
      line-height: 24px;

      >div:nth-of-type(1) {
        display: inline-block;
        width: 3px;
        height: 19px;
        margin: 3px 6px 0 0;
        background: #3D8BF2;
        border-radius: 3px 0px;
      }

      span {
        color: #333333;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .wrap {
      width: 100%;
      height: 70px;
      background-color: #fff;
      padding: 12px 10px;
      border-radius: 8px;
      margin-bottom: 10px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #333;

      i {
        font-weight: bold;
        font-size: 16px;
        margin-right: 5px;
      }
      >span{
        color: #267EF0;
      }
    }

    >p {
      font-size: 12px;
      text-align: center;
      color: #666;
    }

  }


  .pageContent {
    position: relative;
    top: -20px;
    padding: 0 10px;

    .noticeArea {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 10px @padding-md;
      background-color: #fff;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .noticeImg {
        svg {
          width: 34px;
          height: 34px;
        }
      }

      .gengduo {
        svg {
          width: 18px;
          height: 18px;
          color: #999;
        }
      }

      .noticeText {
        flex: auto;

        >span {
          vertical-align: text-bottom;
        }

        // >span {
        //   display: block;
        //   width: calc(~'100vw - 110px');
        //   margin: 10px 6px 4px 6px;
        //   padding: 0 6px;
        //   overflow: hidden;
        //   line-height: 18px;
        //   white-space: nowrap;
        //   text-overflow: ellipsis;

        //   &:nth-child(1) {
        //     width: 63px;
        //     margin: 10px 6px 4px 6px;
        //     padding: 2px 5px;
        //     color: @oriangeColor;
        //     font-size: @font-size-sm;
        //     line-height: 16px;
        //     text-align: center;
        //     border: 1px solid @oriangeColor;
        //     border-radius: 11px;
        //   }

        //   &+a {
        //     display: inline-block;
        //     width: calc(~'100vw - 125px');
        //     overflow: hidden;
        //     color: @text-color;
        //     white-space: nowrap;
        //     text-overflow: ellipsis;
        //   }
        // }
      }

      :global {
        .anticon {
          flex: 0 0 20px;
          width: 20px;
        }
      }
    }

    .banner {
      width: 100%;
      height: 116px;
      background-size: 100% 100%;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      margin: 15px 0 24px;
    }

    .enrollArea {
      margin-top: 20px;
      margin-bottom: 20px;

      .enrollText {
        padding: 7px;
        overflow: hidden;
        color: #fff;
        font-weight: 600;
        line-height: 26px;
        white-space: nowrap;
        text-align: center;
        text-overflow: ellipsis;
        background: @oriangeBgColor;
        border-radius: 20px 20px 0 20px;
      }

      .enrollDate {
        padding: 7px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        background: #f5f5f5;
        border-radius: 20px 0 20px 20px;
      }
    }

    .patrols {
      height: 76px;
      margin-bottom: 20px;
      border-radius: 8px;
      background-size: 100% 100%;
      padding: 20px 10px;

      a {
        margin: 0;
        display: flex;
        justify-content: space-between;

        .titles {
          width: 170px;
          height: 36px;
          line-height: 36px;
          position: relative;
          font-size: 18px;
          color: #fff;
          border-radius: 0 18px 18px 0;
          background: linear-gradient(270deg, #1342F3 0%, #48B0FB 100%);
          opacity: 0.8;
          padding-left: 10px;
        }

        .xunke {
          width: 82px;
          height: 26px;
          background: linear-gradient(270deg, #1273F0 0%, #2083F3 100%);
          border-radius: 13px;
          color: #fff;
          display: flex;
          justify-content: space-between;
          text-align: center;
          padding: 2px 2px 2px 10px;
          margin-top: 5px;

          >div {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #fff;
            color: #3D8BF2;
          }
        }
      }

      :global {
        .ant-badge-not-a-wrapper:not(.ant-badge-status) {
          position: absolute;
          top: 9px;
          right: 20px;
        }

        .ant-badge-count {
          background: #ff6b17;
          box-shadow: 0 0 0 1px rgba(0, 102, 255, 0);
        }
      }
    }

    .patrol {
      display: flex;
      justify-content: space-between;
      // transform: matrix(-1, 0, 0, 1, 0, 0);
      margin-bottom: 20px;
      padding: 0 12px;
      background: linear-gradient(270deg, #17e3ff 0%, #06f 100%);
      border-radius: 23px;

      &>span {
        position: relative;
        display: inline-block;
        height: 46px;
        color: #fff;
        font-size: 16px;
        line-height: 46px;

        :global {
          .ant-badge-not-a-wrapper:not(.ant-badge-status) {
            // vertical-align: sub;
            margin-bottom: 4px;
          }

          .ant-badge-count {
            background: #ff6b17;
            box-shadow: 0 0 0 1px rgba(0, 102, 255, 0);
          }
        }

        // >span {
        //   position: absolute;
        //   display: inline-block;
        //   background: #FF6B17;
        //   border-radius: 30px;
        //   width: 30px;
        //   height: 30px;
        //   line-height: 30px;
        //   top:8px;
        //   right:0px;
        //   text-align: center;
        // }

        &+a {
          // padding-right: 24px;
          position: relative;
          top: 10px;
          height: 26px;
          // width: 80px;
          color: #fff;
          background: linear-gradient(270deg, #06f 0%, rgba(0, 102, 255, 0) 100%);
          border-radius: 30px;

          >span:nth-child(1) {
            height: 26px;
            // width: 80px;
            // display: inline-block;
            padding: 0 5px 0 10px;
            font-size: 14px;
            line-height: 26px;
            vertical-align: middle;
          }

          .gengduo {
            margin-right: 2px;
            padding: 5px;
            color: #06f;
            font-size: 10px;
            vertical-align: middle;
            background-color: #fff;
            border-radius: 20px;
          }
        }
      }
    }

    .resourcesBox {
      margin-top: 20px;
      margin-bottom: 20px;
      background: linear-gradient(87.38deg, #47b5fb 0%, #6a45fd 100%);
      border-radius: 25px;

      .resources {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        border-radius: 25px;

        >p {
          margin-bottom: 0;
          margin-left: 20px;
          color: #fff;
          font-size: 14px;
        }

        >img {
          width: 5px;
          height: 8px;
          margin-left: 6px;
        }
      }
    }

    .todayCourses {
      :global {
        .ant-list-item-meta:first-child {
          background: rgba(69, 201, 119, 0.05);
        }

        .ant-list-item-meta:nth-child(2) {
          background: rgba(102, 102, 102, 0.05);
        }
      }
    }
  }

  :global {
    .ant-tabs-tab+.ant-tabs-tab {
      margin-left: 28px;
    }

    .ant-tabs-top>.ant-tabs-nav,
    .ant-tabs-bottom>.ant-tabs-nav,
    .ant-tabs-top>div>.ant-tabs-nav,
    .ant-tabs-bottom>div>.ant-tabs-nav {
      height: 22px;
      margin-bottom: 12px;
      line-height: 22px;
    }

    .ant-tabs-top>.ant-tabs-nav::before,
    .ant-tabs-bottom>.ant-tabs-nav::before,
    .ant-tabs-top>div>.ant-tabs-nav::before,
    .ant-tabs-bottom>div>.ant-tabs-nav::before {
      border-bottom: 0;
    }

    .ant-tabs-ink-bar {
      display: none;
    }

    .ant-tabs-tab:hover {
      color: #333;
      font-weight: 600;
      font-size: @font-size-lg;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #333;
      font-weight: 600;
      font-size: @font-size-lg;
    }

    .ant-tabs-tab-btn {
      font-size: @font-size-lg;
    }

    .ant-tabs-extra-content {
      a {
        color: #999;
        font-size: @font-size-sm;
      }
    }
  }

  .courseType {
    :global {
      .ant-tabs-ink-bar {
        display: block;
        margin-bottom: 2px;
        background: #45c977;
      }

      .ant-tabs-tab:hover {
        font-size: 14px;
      }

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        font-size: 14px;
      }

      .ant-tabs-tab-btn {
        font-size: 14px;
      }
    }
  }

  .teachCourses{
    :global{
      .ant-list-items{
        >div{
          background-color: #fff;
          padding: 10px 10px 1px;
          border-radius: 8px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.modalStyle {
  :global {
    .ant-modal-title {
      font-size: 16px !important;
    }

    .ant-modal-header {
      padding: 16px;
      text-align: center !important;
    }

    .ant-modal-content {
      min-width: auto !important;
      margin: 0 7%;

      .ant-modal-body {
        // width: 100% !important;
        padding: 16px;
        border-radius: 16px;

        >div {
          height: 100px;
          overflow: auto;

          p {
            display: flex;
            justify-content: space-between;

            span:nth-child(1) {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            span:nth-child(2) {
              width: 90px;
            }
          }
        }
      }

      .ant-input {
        color: #999;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .ant-modal-footer {
      margin-top: 20px;
      text-align: center !important;

      .ant-btn {
        width: 45% !important;
        border-radius: 22px !important;
      }
    }
  }
}

.tabHeader{
  margin-bottom: 20px;
  .title {
    display: flex;
    height: 24px;
    margin-bottom: 10px;
    line-height: 24px;
    position: relative;

    >div:nth-of-type(1) {
      display: inline-block;
      width: 3px;
      height: 19px;
      margin: 3px 6px 0 0;
      background: #3D8BF2;
      border-radius: 3px 0px;
    }

    >span:nth-of-type(1) {
      color: #333333;
      font-weight: bold;
      font-size: 18px;
    }
    a {
      position: absolute;
      right: 0;
      color: #999;
      font-size: 12px;
    }
  }
}