.enrollText {
  padding: 7px;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  background: rgba(246, 192, 0, 1);
  border-radius: 20px 20px 0px 20px;
}
.enrollDate {
  padding: 7px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  background: #f5f5f5;
  border-radius: 20px 0px 20px 20px;
}
.todayNOImg{
  div[class*='ListHeader'],img{
    display: none;
  }
  div[class*='noData']{
    h4{
      color: @text-color-secondary;
      text-align: left;
      font-size: 14px;
      span{
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }
}