.EnrollClassTime {
  .enroll {
    .enrollText {
      padding: 7px;
      overflow: hidden;
      color: #fff;
      font-weight: 600;
      line-height: 26px;
      white-space: nowrap;
      text-align: center;
      text-overflow: ellipsis;
      background: rgba(246, 192, 0, 1);
      border-radius: 20px 20px 0px 20px;
    }
    .enrollDate {
      padding: 7px;
      font-weight: 600;
      line-height: 26px;
      text-align: center;
      background: #f5f5f5;
      border-radius: 20px 0px 20px 20px;
    }
  }
  .enrolling {
    .enrollText {
      padding: 7px;
      overflow: hidden;
      color: #fff;
      font-weight: 600;
      line-height: 26px;
      white-space: nowrap;
      text-align: center;
      text-overflow: ellipsis;
      background: rgba(246, 192, 0, 1);
      border-radius: 20px 20px 0px 20px;
    }
  }
  .enrolled {
    .enrollText {
      padding: 7px;
      overflow: hidden;
      color: #fff;
      font-weight: 600;
      line-height: 26px;
      white-space: nowrap;
      text-align: center;
      text-overflow: ellipsis;
      background: rgba(246, 192, 0, 1);
      border-radius: 20px 20px 0px 20px;
    }
  }
}
