.customPageHeader {
  :global {
    .ant-page-header {
      display: flex;
      height: 80px;
      box-shadow: 0 1px 0 #e3f2e9;

      .ant-page-header-heading {
        flex: auto;
      }

      .ant-breadcrumb {
        display: flex;
        flex: auto;
        align-items: center;
        text-align: justify;
        min-width: 200px;

        >span {
          display: flex;
        }

        &+.ant-page-header-heading {
          width: 200px;
        }
      }
    }

    .ant-pro-grid-content {

      .ant-pro-table {
        .ant-table-wrapper {
          width: 100%;
          overflow: auto;

          .ant-table {
            min-width: 700px;

            .ui-table-col-elp {
              display: inline-block;
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}
