.DetailsBox {
  height: 100vh;
  line-height: 28px;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 0 !important;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }

  .guanyu {
    margin-top: 28vh;

    .tp {
      display: flex;
      justify-content: center;
    }

    .wz {
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 24px;
      font-weight: 500;
    }
    .bbh{
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 16px;
      margin-top: 10px;
    }
    .xb {
      width: 100%;
      position: fixed;
      bottom: 0;
      font-size: 14px;
      display: flex;
      justify-content: center;
      height: 40px;
      line-height: 40px;
    }
  }

  .title {
    height: 28px;
    padding-top: 10px;
    margin-bottom: 6px;
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }

  .time {
    height: 17px;
    margin-bottom: 14px;
    color: #333333;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
  }

  .line {
    height: 0.5px;
    background: rgba(0, 0, 0, 0.1);
  }

  .text {
    width: 100%;
    border: 0;
    height: calc(~'100vh - 110px');
    line-height: 28px;
    padding: 10px;
    background-color: #fff;

    &[disabled],
    &[readoOly] {
      color: rgb(51, 51, 51) !important;
      background-color: #fff !important;
      opacity: 1 !important;
    }

    p {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 28px;
    }
  }
}