.DetailsBox {
    height: 100vh;
    margin: 19px 10px;
    line-height: 28px;
    .title {
      height: 28px;
      margin-bottom: 6px;
      color: #333333;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
    }
    .time {
      height: 17px;
      margin-bottom: 14px;
      color: #333333;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
    }
    .line {
      height: 0.5px;
      background: rgba(0, 0, 0, 0.1);
    }
    .text {
      width: 100%;
      border: 0;
      height:calc(~'100vh - 107px');
      line-height: 28px;
      padding-top: 10px;
      background-color: #fff;
      p {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 28px;
      }
    }
  }