@import '../../../theme.less';

.confirmStyles {
  :global {
    .ant-popover-content {
      .ant-popover-inner {
        border-radius: 8px;

        .ant-popover-inner-content {
          padding: 6px 8px;

          .ant-popover-buttons {
            display: none;
          }

          .ant-popover-message {
            padding: 0;

            > span {
              display: none;
            }

            .ant-popover-message-title {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

.CourseDetails {
  line-height: 28px;

  button {
    outline: none;
  }

  .wrap {
    padding: 10px 10px 56px;

    p {
      margin-bottom: 6px;
    }

    img {
      width: 100%;
      height: 226px;
      margin-bottom: 18px;
    }

    ul {
      padding: 0;
      color: #515151;
      font-size: 14px;
    }

    .title {
      color: #333;
      font-weight: 600;
      font-size: 16px;
    }

    .content {
      color: #515151;
      font-size: 14px;
    }

    .classInformation {
      table {
        width: 100%;
        margin-bottom: 10px;

        > tbody,
        > thead {
          > tr {
            > td,
            > th {
              padding: 2px;
              font-size: 12px;
              text-align: center;
              border: 1px solid #dadada;

              > p {
                margin: 0;
                padding: 0 2px;
                border-bottom: 1px solid #dadada;

                &:nth-last-child(1) {
                  border: none;
                }
              }
            }
          }
        }
      }

      .bjname {
        position: relative;
        color: #333;
        font-weight: bold;
        text-align: center;

        &::before {
          position: absolute;
          top: 13px;
          display: block;
          width: 100%;
          height: 1px;
          background-color: #eee;
          content: '';
        }

        span {
          position: relative;
          padding: 0 16px;
          background-color: #fff;
        }
      }

      .bzrname * {
        height: 16px !important;
        line-height: 16px !important;
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 54px;
    padding: 0 14px 0 14px;
    line-height: 54px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .btn {
      width: 100%;
      height: 38px;
      margin-top: 8px;
      color: #fff;
      font-size: 16px;
      line-height: 38px;
      background-color: #45c977;
      border: none;
      border-radius: 19px;
    }

    .btnes {
      width: 100%;
      height: 38px;
      margin-top: 8px;
      color: #999;
      font-size: 14px;
      line-height: 38px;
      background-color: #f5f5f5;
      border: none;
      border-radius: 19px;
    }
  }

  .payment {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    > div {
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 480px;
      padding: 14px;
      background-color: #fff;

      .title {
        margin-top: 8px;
        color: #333;
        font-weight: 600;
        font-size: 16px;
      }

      .price {
        span:nth-of-type(1) {
          color: #f60;
          font-size: 18px;
        }

        span:nth-of-type(2) {
          color: #f60;
          font-size: 14px;
        }
      }
    }

    :global {
      .anticon svg {
        height: 100%;
      }

      .ant-radio-button-wrapper:not(:first-child)::before {
        display: none;
      }

      .ant-radio-group {
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        overflow: auto;

        label.ant-radio-button-wrapper {
          overflow: hidden;
          color: #333;
          background-color: #f5f5f5;
          border: none;
          border-radius: 16px;

          &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            color: #45c977;
            background: rgba(69, 201, 119, 0.1);
          }

          &.ant-radio-button-wrapper-disabled {
            color: #999;
          }
        }
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
        box-shadow: none;
      }

      .ant-radio-checked .ant-radio-inner {
        border-color: @GreenColor;

        &::after {
          background-color: @GreenColor;
        }
      }
    }
    .Teachingaterial {
      .box {
        display: flex;
        justify-content: space-between;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        background-color: #f5f5f5;
      }
      .tables {
        max-height: 70px;
      overflow: auto;
        padding: 0 10px;
        line-height: 40px;
        background-color: #f5f5f5;
        border-radius: 0 0 8px 8px;
        > div {
          display: flex;
          justify-content: space-between;
          height: 40px;
           color: #666;
        }
      }

      :global {
        .ant-checkbox-wrapper {
          border-color: #45c977;
        }
        .ant-checkbox-wrapper-checked {
          .ant-checkbox-inner {
            background-color: #45c977;
            border-color: #45c977;
          }
        }
      }
    }
    .agreement {
      position: fixed;
      bottom: 70px;
      :global {
        .ant-checkbox-wrapper {
          border-color: #45c977;
        }
        .ant-checkbox-wrapper-checked {
          .ant-checkbox-inner {
            background-color: #45c977;
            border-color: #45c977;
          }
        }
      }
    }
    .submit {
      position: fixed;
      bottom: 14px;
      display: block;
      width: calc(~'100% - 28px');
      height: 38px;
      color: #fff;
      background: #45c977;
      border: none;
      border-radius: 19px;

      &[disabled] {
        color: #bbb;
        background-color: #e6e6e6;
        border-color: #e4e4e4;
        box-shadow: none;
      }

      span {
        font-size: 16px;
      }
    }
  }
}

.CourseDetails2 {
  min-height: 100vh;
  background: #f5f5f5;

  .KCXX {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;

    .title {
      margin-bottom: 10px;
      color: @text-color;
      font-weight: 600;
      font-size: 16px;
    }

    ul {
      margin: 0;
      padding: 0;
      color: @text-color-secondary;

      li {
        line-height: 26px;
      }
    }
  }

  .Timetable {
    margin: 18px 10px 0 10px;

    .title {
      display: flex;
      justify-content: space-between;
      color: @text-color;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;

      .legend {
        margin-left: 5px;

        :global {
          .ant-badge-status-dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
          }
        }

        &.legend1 {
          span[class='ant-badge-status-dot'] {
            border: 0.5px solid rgb(160, 159, 159);
          }
        }
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      width: 102%;

      .card1 {
        width: 18%;
        height: 48px;
        margin-right: 2%;
        margin-bottom: 10px;
        padding: 5px;
        color: @normal-color;
        font-size: 12px;
        text-align: center;
        background: rgba(255, 102, 0, 0.1);
        border-radius: 8px;

        p {
          margin: 0;
          padding: 0;
        }
      }

      .card2 {
        width: 18%;
        height: 48px;
        margin-right: 2%;
        margin-bottom: 10px;
        padding: 5px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        background: #45c977;
        border-radius: 8px;

        p {
          margin: 0;
          padding: 0;
        }
      }

      .card3 {
        width: 18%;
        height: 48px;
        margin-right: 2%;
        margin-bottom: 10px;
        padding: 5px;
        color: @normal-color;
        font-size: 12px;
        text-align: center;
        background: #fff;
        border-radius: 8px;

        p {
          margin: 0;
          padding: 0;
        }
      }

      .card {
        width: 18%;
        height: 48px;
        margin-right: 2%;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 12px;
        text-align: center;
        background: rgba(69, 201, 119, 0.1);
        border-radius: 8px;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.showagreement {
  top: 0 !important;
  width: 92% !important;
  margin: 0 auto;
  margin-top: calc(50vh - 260px) !important;
  padding: 0 !important;
  :global {
    .ant-modal-content {
      min-width: 100% !important;
      .ant-modal-footer {
        .ant-btn {
          margin-left: 0 !important;
        }
      }
    }
    .ant-modal-body {
      width: 100% !important;
      padding: 16px;
      > p:nth-child(1) {
        font-size: 16px;
        text-align: center;
      }
      > div {
        height: 400px;
        overflow: auto;
      }
      > div::-webkit-scrollbar {
        display: none;
      }
    }
    .ant-modal-footer {
      display: flex;
      justify-content: space-evenly;
      .ant-btn-primary {
        background-color: #45c977;
        border: none;
      }
    }
  }
}
