@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    // 滚动条整体样式
    width: 8px; // 高宽分别对应横竖滚动条的尺寸
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    // 滚动条里面小方块
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  ::-webkit-scrollbar-track {
    background: #ededed;
    border-radius: 8px;
    // 滚动条里面轨道
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .colorWeak {
    filter: invert(80%);
  }

  canvas {
    display: block;
  }

  ul,
  ol {
    list-style: none;
  }
  .ant-pro-table-list-toolbar-container {
    padding: 16px 0 !important;
  }
  .ant-pro-table-search {
    padding: 0;
  }
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    border-color: @input-hover-border-color;
    box-shadow: none;
  }

  .ant-input:focus,
  .ant-input-focused {
    border-color: @input-hover-border-color;
    box-shadow: none;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: @input-hover-border-color;
    box-shadow: none;
  }
  .ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: 46px !important;
  }
  .ant-picker-focused {
    border-color: @input-hover-border-color;
    box-shadow: none;
  }

  .ant-picker-range .ant-picker-active-bar {
    background: @input-hover-border-color;
  }

  .ant-layout {
    min-height: 100vh;

    // 调整左侧菜单
    .ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
      background-color: @second-color;

      .ant-pro-sider-logo {
        justify-content: center;
        height: 100px;
        background-color: rgba(33, 48, 69, 1);
        .cusHeaderLogoSmall {
          img {
            width: 48px;
          }

          span {
            display: block;
            color: #f0f5f9;
            font-size: 12px;
            text-align: center;
          }
        }
        h1 {
          display: block;
          margin: 0;
          color: #fff;
          font-weight: normal;
          font-size: @font-size-lg;
          line-height: 50px;
          text-align: center;
        }

        img {
          height: auto !important;
        }

        // & + div {
        // margin-top: @padding-lg;
        // }
      }

      .ant-menu {
        background: transparent;

        .ant-menu-item::after {
          border-right: 3px solid rgba(62, 136, 248, 1);
        }

        .ant-menu-item,
        .ant-menu-submenu {
          .ant-pro-menu-item-title,
          .anticon,
          .ant-menu-submenu-arrow {
            color: rgba(255, 255, 255, 0.6);
          }

          &.ant-menu-item-selected,
          &:active,
          .ant-menu-submenu-title:active {
            background: rgba(62, 136, 248, 1);

            span {
              color: #fff;
            }
          }
        }

        .ant-menu-inline {
          background: rgba(33, 48, 69, 1);
        }
      }
    }

    // 调整按钮与icon间距
    .ant-btn > .anticon + span,
    .ant-btn > span + .anticon {
      margin-left: 5px;
    }

    //调整头部样式
    .ant-pro-table-list-toolbar-container {
      padding: 16px 24px;
    }
    .ant-pro-field-index-column {
      width: auto;
    }
    // 调整protable下翻页的样式
    .ant-pro-table {
      .ant-card {
        .ant-card-body {
          padding: 0;
        }
      }

      .ant-table-wrapper .ant-table-pagination-right {
        justify-content: center;

        > li {
          // width: 26px;
          height: 26px;
          margin: @padding-sm;
          color: @normal-color;
          line-height: 24px;
          // border: 1px solid @border-color-base;
          border-radius: 2px;

          &.ant-pagination-item-active {
            border-color: #3e88f8;

            a {
              color: #3e88f8;
            }
          }
        }
      }

      .ant-table-pagination.ant-pagination {
        margin: 32px 0;
      }
    }

    // 取消内容部分底部外边距
    .ant-pro-basicLayout-content {
      margin-bottom: 0;
    }

    // 取消footer的链接信息
    .ant-pro-global-footer {
      margin: 0;
      //底部样式
      padding: 10px 0;

      .ant-pro-global-footer-links {
        display: none;
      }
    }
  }

  // 整体modal样式
  .ant-modal-root {
    .ant-modal-centered {
      .ant-modal-content {
        overflow: hidden;
        border-radius: 8px !important;
      }
    }

    .ant-modal-content {
      min-width: 410px;

      .ant-modal-header {
        height: 48px;

        .ant-modal-title {
          font-weight: bold;
          font-size: @font-size-base;
          font-style: normal;
          line-height: 22px;
        }
      }

      .ant-modal-body {
        color: @text-color-secondary;
        font-size: @font-size-base;
        line-height: 20px;
      }

      .ant-modal-footer {
        height: 48px;
        padding: 10px 24px;

        .ant-btn {
          width: 72px;
          height: 28px;
          font-weight: normal;
          font-size: @font-size-base;
          line-height: 18px;
          text-align: center;
          border-radius: 2px;
        }

        .ant-btn-primary {
          margin-left: 16px;
        }
      }
    }
  }

  .ant-table-thead {
    > tr {
      > th {
        padding: 12px;
      }
    }
  }

  .ant-table-tbody {
    > tr {
      > td {
        padding: 12px;
      }
    }
  }

  // 调整主色调按钮的颜色
  .ant-btn-primary {
    background-color: @btn-primary-bg;
    border-color: @btn-primary-bg;

    span {
      color: #fff;
    }
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
