@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .colorWeak {
    filter: invert(80%);
  }

  canvas {
    display: block;
  }

  ul,
  ol {
    list-style: none;
  }

  .ant-layout {
    min-height: 100vh;

    // 调整左侧菜单
    .ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
      background-color: @primary-color;

      .ant-pro-sider-logo {
        height: 80px;
        background-color: rgba(69, 201, 119, 1);

        h1 {
          color: #fff;
        }

        &+div {
          margin-top: @padding-lg;
        }
      }

      .ant-menu {

        .ant-menu-item,
        .ant-menu-submenu {

          .ant-pro-menu-item-title,
          .anticon,
          .ant-menu-submenu-arrow {
            color: #fff;
          }

          &.ant-menu-item-selected,
          &:active,
          .ant-menu-submenu-title:active {
            background: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }

    // 调整protable下翻页的样式
    .ant-pro-table {
      .ant-table-wrapper .ant-table-pagination-right {
        justify-content: center;

        >li {
          color: @normal-color;
          width: 26px;
          height: 26px;
          line-height: 24px;
          border: 1px solid @border-color-base;
          border-radius: 2px;
          margin: @padding-sm;

          &.ant-pagination-item-active {
            border-color: @primary-color;
            color: @primary-color;
          }
        }
      }
    }

    // 取消footer的链接信息
    .ant-pro-global-footer {
      .ant-pro-global-footer-links {
        display: none;
      }
    }
  }


  // 整体modal样式
  .ant-modal-root {
    .ant-modal-centered {
      .ant-modal-content {
        border-radius: 8px !important;
        overflow: hidden;
      }
    }

    .ant-modal-content {
      .ant-modal-header {
        .ant-modal-title {
          font-weight: bold;
          font-size: @font-size-base;
          font-style: normal;
          line-height: 22px;
        }
      }

      .ant-modal-body {
        color: @text-color-secondary;
        font-size: @font-size-base;
        line-height: 20px;
      }

      .ant-modal-footer {
        padding: @padding-sm @padding-lg;

        .ant-btn {
          width: 80px;
          height: 32px;
          font-weight: normal;
          font-size: @font-size-base;
          line-height: 22px;
          text-align: center;
          border-radius: 2px;
        }
      }
    }
  }

  // 调整主色调按钮的颜色
  .ant-btn-primary {
    background-color: @primary-color;
    border-color: @primary-color;
    span{
      color:#fff;
    }
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}
