.TopCards {
  // display: none;
  display: flex;
  margin-bottom: 24px;
  > div {
    flex: 1;
    & + div {
      padding-left: 24px;
    }
    > div {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #ebf4ff;
      border-radius: 8px;
      img {
        width: 50px;
        margin: 0 10px 0 0;
      }
      h3{
        font-weight: bold;
      }
      h3,
      p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.AfterSchoolCourse {
  .title {
    display: flex;
    justify-content: flex-end;

    > span {
      color: #4884ff;
      line-height: 30px;
    }

    button {
      width: 80px;
      margin-left: 20px;
    }
  }
}
