.TopSearchss{
  > span {
    margin-bottom: 24px;
    display: inline-block;
}
}

.AfterSchoolCourse{
  .title{
    display: flex;
    justify-content: flex-end;
    >span{
      line-height:30px;
      color:#4884ff;
    }
    button{
      margin-left: 20px;
      width: 80px;;
    }
  }
}
